Repository Skopio-app/skopio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: Prettier Formatter
  entry: npx prettier --write
  language: node

eslint:
  name: ESLint
  entry: npx eslint . --config apps/desktop/eslint.config.js
  language: node

chore: add windsurf to list of ignored apps
  apps/desktop/src-tauri/src/monitored_app.rs
Due: none

fix: add stable id to dedupe event and AFK event db inserts
  .sqlx/query-29c79159f2e9e9fafffd66547cc80ea1de4ee0c5db57d1368ccb010b97c47b4f.json
  .sqlx/query-86fab1dd1161b5d3cb2e4eb9f528dd287de8667c6756e83bb55f8143d34a1a16.json
  .sqlx/query-cd1f4e794fbde8b9f6a7f14b7d53cbfd42eee60c60d58f105dab6a2b449df1b0.json
  .sqlx/query-f02e30d7a8f4860636d3717cdd1e485d5471dd88c808b41e8555016f238653a0.json
  Cargo.lock
  apps/server/Cargo.toml
  apps/server/src/routes/afk_events.rs
  apps/server/src/routes/events.rs
  crates/db/src/server/afk_events.rs
  crates/db/src/server/events.rs
Due: none

fix: remove EOF error when syncing events
  apps/desktop/src-tauri/src/network/mod.rs
  apps/desktop/src-tauri/src/sync_service.rs
  apps/server/src/error.rs
  apps/server/src/routes/afk_events.rs
  apps/server/src/routes/apps.rs
  apps/server/src/routes/categories.rs
  apps/server/src/routes/events.rs
  apps/server/src/routes/insights.rs
  apps/server/src/routes/projects.rs
  apps/server/src/routes/summary.rs
Due: none

refactor: change tracing appender config
  apps/desktop/src-tauri/src/utils/tracing.rs
  apps/server/src/main.rs
  apps/server/src/utils.rs
Due: none

fix: change traffic light position due to macos tahoe
  apps/desktop/src-tauri/src/ui/window.rs
Due: none

fix: add timestamp indexes to speed up queries
  apps/desktop/src-tauri/src/ui/window.rs
  crates/db/migrations/server/20250917113411_add_timestamp_indexes.sql
  scripts/sync_db.sh
Due: none

refactor: hardcode db envs
  CONTRIBUTING.md
  scripts/sync_db.sh
Due: prettier

docs: increment app and server versions plus changelogs
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier

docs: increment app and server versions plus changelogs (#30)
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier

fix: revert traffic lights position
  CONTRIBUTING.md
  apps/desktop/src-tauri/src/ui/window.rs
Due: prettier

fix: sync afk values in UI
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/utils/constants.ts
Due: prettier, eslint

fix: adjust search icon position
  apps/desktop/src/extensions/projects-view/index.tsx
Due: prettier, eslint

chore: add cursor to list of ignored apps
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
Due: none

fix: fetch open apps every time the input changes
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
  apps/desktop/src/hooks/useOpenApps.ts
  apps/desktop/src/utils/data.ts
  packages/ui/dist/global.css
  packages/ui/src/components/chip-selector.tsx
Due: prettier, eslint

feat: display tooltip in chart widget
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/ui/window.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/extensions/dashboard-view/components/WidgetCard.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/ActivityChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/AppPieChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/CategoryChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/EntityChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/LanguagePieChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/ProjectChartWidget.tsx
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
  apps/desktop/src/types/tauri.gen.ts
  packages/ui/dist/global.css
  packages/ui/src/components/tooltip.tsx
Due: prettier, eslint

fix: remove loading condition and display open apps
  apps/desktop/src/components/settings/views/General.tsx
  packages/ui/dist/global.css
Due: prettier, eslint

fix: use semver version instead of SHA to check for updates
  Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/server.rs
  apps/desktop/src/extensions/dashboard-view/widgets/ProjectChartWidget.tsx
Due: prettier, eslint

fix: truncate urls in timeline view
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalDeleteConfirmDialog.tsx
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
Due: prettier, eslint

refactor: store color map in indexedDB instead of localstorage
  apps/desktop/src/db/skopioDB.ts
  apps/desktop/src/extensions/dashboard-view/helpers/activityCache.ts
  apps/desktop/src/extensions/dashboard-view/hooks/usePersistentLayout.ts
  apps/desktop/src/stores/useColorCache.ts
Due: prettier, eslint

refactor: display cached color in common charts
  apps/desktop/src/components/CustomPieChart.tsx
  apps/desktop/src/components/StackedBarChart.tsx
  apps/desktop/src/extensions/projects-view/components/CirclePackingChart.tsx
  apps/desktop/src/hooks/useChartColor.ts
Due: prettier, eslint

fix: format color storage format in indexedDB
  apps/desktop/src/db/skopioDB.ts
  apps/desktop/src/stores/useColorCache.ts
Due: prettier, eslint

refactor: display cached colors in timeline view
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
Due: prettier, eslint

docs: update desktop version and changelog
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

docs: update desktop version and changelog (#32)
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

feat: style up update markdown content for update toast
  apps/desktop/package.json
  apps/desktop/src/components/updater/UpdaterToast.tsx
  yarn.lock
Due: prettier, eslint

fix: remove inspect element option via condition
  apps/desktop/src/App.tsx
Due: prettier, eslint

refactor: add details struct to represent resolved app details
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
Due: none

fix: remove typos
  apps/desktop/src-tauri/src/monitored_app.rs
Due: none

feat: write migartion to add new last updated field and convert timestamp text to integer
  crates/db/migrations/server/20250922194927_remove_without_rowid.sql
Due: none

fix: remove transaction logic
  crates/db/.sqlx/query-49e55ba3daa8f0acce4d00d944243218d0d4833d3450d73dec78195116ae67ee.json
  crates/db/.sqlx/query-62e76bc2e5175d6487ebba4bcf113ba2a46c33f5b100b801b90beee954891eee.json
  crates/db/.sqlx/query-a899161928e9830b038fe398ece5da985892c7bd5e4dc5cd0ea82bfbd3559bbd.json
  crates/db/.sqlx/query-d5d87d00e950e5ae1c44e8ba069081e767ae58916ca7d7b6e8ece7f3d09402c9.json
  crates/db/.sqlx/query-e2352164237b90647e57f3d212ee24456e16e5a12e033a0f6ce315c9ce838a4e.json
  crates/db/.sqlx/query-ec717ed329cfb70b6204ad1d9bbebfc2b93ef51e03079e6d851b2187b4bc9b8f.json
  crates/db/migrations/server/20250922194927_remove_without_rowid.sql
Due: prettier

fix: modify table access code to modify last_updated field
  .sqlx/query-147298b656ff4b6f11e621cfe37b8d70c49396b517a346c742639c812f0a6bf9.json
  .sqlx/query-25b5e7becc8f50a65fdabbb4865f16970ad1b4931be503f05cf97ee8da091853.json
  .sqlx/query-3aaf2fb450aa053ad37ac30b30d83e16dd4c4c402b89750a2c91e7c16ece0a4b.json
  .sqlx/query-3d7f719025324fe916b333861040e696deadcc4e9057022e3369c2536b1cc3b7.json
  .sqlx/query-405d5b69f5dc7146f5e128e909ef5594602bff9fbea6b013f6e8f7f6fcd30aa0.json
  .sqlx/query-56512852f61fcf60cb4dff691a2267aac81e3f837d9a73170460b106ec06d42e.json
  .sqlx/query-65ac9b2eea99224c33434e87cf7332dba0b5b5560e898d5e21d2000d4a999525.json
  .sqlx/query-6b497b48e5a75096156b8cd04b5a9aeab90ad03e313000b4ee15f2eb93af7ab2.json
  .sqlx/query-8c49bb8155c51a5b8abeac7422d27226d974930a936562542782c535b7ace7e4.json
  .sqlx/query-d87782d104812c7f8b06e48c3854abd0ae406286d8661194903e60a1f7a62efb.json
  .sqlx/query-e04aa70d628ca482b5ba812523757607258a9d40fab374c7ad0701de1f08ca4e.json
  .sqlx/query-e4c8633cd5eed4b2ed824b1d5b7d318b3ef31428e91a7edede994e4343386818.json
  .sqlx/query-e5028c79c2baa22efd1f2785e8311ad9167dd28fb6c8dc0137e020b9022ebd83.json
  crates/db/src/server/apps.rs
  crates/db/src/server/branches.rs
  crates/db/src/server/categories.rs
  crates/db/src/server/entities.rs
  crates/db/src/server/languages.rs
  crates/db/src/server/projects.rs
  crates/db/src/server/source.rs
Due: none

fix: order fetched projects by last_updated field instead of id
  .sqlx/query-c07c629cd94772ff028fa19e6a961ef85c4723a64fd9077a0edda26df1de5f30.json
  .sqlx/query-e3384083b893ac824f0bcfcf2bc39f562fccfc782b0942004981e553664763a9.json
  crates/db/src/server/projects.rs
Due: none

fix: update timestamp field only for affected id
  .sqlx/query-147298b656ff4b6f11e621cfe37b8d70c49396b517a346c742639c812f0a6bf9.json
  .sqlx/query-205316476150a26a51d133cbcbf5096ed719c3ef5314194f6333a768a365c777.json
  .sqlx/query-25b5e7becc8f50a65fdabbb4865f16970ad1b4931be503f05cf97ee8da091853.json
  .sqlx/query-64479729bc44ec01054c0d88dbb41162f863edcd41bc668edd3457329b393425.json
  .sqlx/query-6b497b48e5a75096156b8cd04b5a9aeab90ad03e313000b4ee15f2eb93af7ab2.json
  .sqlx/query-83015cd750106723884f3f01226a9d435dd396957999e139213d51986c7db27f.json
  .sqlx/query-a4d77f82e225479ad7f89687116360b6768e10e195a177683747b24e4ebef42a.json
  .sqlx/query-d87782d104812c7f8b06e48c3854abd0ae406286d8661194903e60a1f7a62efb.json
  .sqlx/query-e4c8633cd5eed4b2ed824b1d5b7d318b3ef31428e91a7edede994e4343386818.json
  .sqlx/query-e5028c79c2baa22efd1f2785e8311ad9167dd28fb6c8dc0137e020b9022ebd83.json
  .sqlx/query-fa6518e20f53d3c7b26bb0770b5e9a582b69fff8d50d15d6c9af2d30a63af321.json
  .sqlx/query-fee1f21173ac7e8a5685b4ca9b737245a4fd9beffbea2eb62a4a57a9bef70afb.json
  apps/server/src/routes/events.rs
  crates/db/src/server/apps.rs
  crates/db/src/server/branches.rs
  crates/db/src/server/categories.rs
  crates/db/src/server/entities.rs
  crates/db/src/server/events.rs
  crates/db/src/server/languages.rs
  crates/db/src/server/projects.rs
  crates/db/src/server/source.rs
  crates/db/src/server/summary.rs
  crates/db/src/server/utils/query.rs
  crates/db/src/server/utils/summary_filter.rs
Due: none

fix: change time conversion to account for integers
  .sqlx/query-1c4f6dd1807d405ef2fbf73521dcb2c53c4642c764009902b7df8025494bf145.json
  .sqlx/query-1d096af87a9b540c8c93475b2db7f67730df849c2d7b18e24c19df32f426dc5c.json
  .sqlx/query-2fe5455f1ab69c9b725100f27819b2348d368b924a78a18b090e2d2659e30c74.json
  .sqlx/query-c8df2281f3f7f384ce897ef4444cec19f81ec5e59faf4bc3b37e45afc01ec14b.json
  crates/db/src/server/insights.rs
Due: none

fix: retrieve most active day insight
  .sqlx/query-1c4f6dd1807d405ef2fbf73521dcb2c53c4642c764009902b7df8025494bf145.json
  .sqlx/query-ff845882f8fff0c7447916cf9d957eb194a1eea733694c5853941fe04e1266ac.json
  crates/db/src/server/insights.rs
Due: none

fix: retrieve topN insights
  crates/db/src/server/insights.rs
Due: none

fix: retrieve aggregated average values
  .sqlx/query-7ed7d97b2094b3214fb4629fa625ce2b715e9500e8f72534e7e74975df44856b.json
  .sqlx/query-c8df2281f3f7f384ce897ef4444cec19f81ec5e59faf4bc3b37e45afc01ec14b.json
  crates/db/src/server/insights.rs
Due: none

refactor: rename model names during serialization
  apps/desktop/src/extensions/dashboard-view/helpers/activityCache.ts
  apps/desktop/src/extensions/dashboard-view/helpers/delta.ts
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
  apps/desktop/src/extensions/dashboard-view/stores/useDashboardFilter.ts
  apps/desktop/src/extensions/goals-view/components/GoalDisplay.tsx
  apps/desktop/src/extensions/insights-view/components/ActivitySection.tsx
  apps/desktop/src/extensions/projects-view/hooks/useProjectSummaryData.ts
  apps/desktop/src/extensions/projects-view/hooks/useTotalBucketedTime.ts
  apps/desktop/src/types/tauri.gen.ts
  crates/db/src/models.rs
Due: prettier, eslint

refactor: make projects routes follow REST principles
  Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/network/data.rs
  apps/desktop/src/extensions/projects-view/index.tsx
  apps/desktop/src/types/tauri.gen.ts
  apps/server/Cargo.toml
  apps/server/src/routes/projects.rs
  crates/common/src/models/inputs.rs
  crates/db/src/server/projects.rs
Due: prettier, eslint

fix: retrieve project details from id
  .sqlx/query-0ab31f31934d9c21cb98fe80889343a62e9b4c107f7c0b26f26acf63f91ba6ed.json
  .sqlx/query-16dc3c6f0025e43789b3e932c24e0f08da17ac3a8256267c4d97ddd85c66499f.json
  .sqlx/query-584a492352713254afa500f8f786b616880ad735538d88e6ddc7d267f763c008.json
  .sqlx/query-75168e074805094870fc6fb29ecf841508efc810d5af4baf517753c6e4562d13.json
  .sqlx/query-b3ce8328fce089d22627dfe6a3389cdd1e6f875f6621ec7d43ce464d967f495d.json
  .sqlx/query-c07c629cd94772ff028fa19e6a961ef85c4723a64fd9077a0edda26df1de5f30.json
  .sqlx/query-c4a802b40c709bbc36c5d58fe069048a01587cd94f413722f1dcbc2b61829ebc.json
  apps/desktop/src-tauri/src/network/data.rs
  apps/desktop/src/extensions/projects-view/ProjectDetails.tsx
  apps/desktop/src/extensions/projects-view/index.tsx
  apps/desktop/src/types/tauri.gen.ts
  crates/common/src/models/mod.rs
  crates/db/src/server/projects.rs
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.tsx$, \.(ts|mts|cts)$, \.css$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.(html|htm|xhtml)$, but not: ^(\.sqlx/|.*\/dist\/)
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.tsx$, \.(ts|mts|cts)$
