Repository Skopio-app/skopio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  # Typescript format
  - repo: local
    hooks:
      - id: prettier
        name: Prettier Formatter
        entry: npx prettier --write
        language: node
        types_or: [javascript, jsx, tsx, ts, css, json, markdown, yaml, html]
        exclude: ^\.sqlx/

  # Rust format
  - repo: local
    hooks:
      - id: rustfmt
        name: Rust Formatter
        description: Format rust files within workspace
        entry: cargo fmt --all
        language: system
        pass_filenames: false

  # Rust linting (Clippy)
  - repo: local
    hooks:
      - id: clippy
        name: Rust Linter (Clippy)
        description: Check for warnings and best practices
        entry: cargo clippy -- -D warnings -A clippy::style
        language: system
        pass_filenames: false

  # Typescript & JavaScript Linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint . --config apps/desktop/eslint.config.js
        language: node
        types_or: [javascript, jsx, tsx, ts]

chore: add title helpers to display additional event info on mouse hover
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
Due: prettier, eslint

feat: add bucketing logic for events
  .sqlx/query-1f2f0013870988eb245f4157e2f3cbadb1383e25db360c39d62f761e890b2d7a.json
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/network/events.rs
  apps/desktop/src-tauri/src/network/mod.rs
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
  apps/desktop/src/extensions/timeline-view/index.tsx
  apps/server/src/models.rs
  apps/server/src/routes/events.rs
  apps/server/src/routes/summary.rs
  crates/common/src/models/outputs.rs
  crates/common/src/time.rs
  crates/db/src/server/events.rs
  crates/db/src/server/summary.rs
  crates/db/src/server/utils/query.rs
Due: prettier, eslint

chore: add UI to filter events timeline by group
  apps/desktop/src/extensions/timeline-view/index.tsx
  apps/desktop/src/extensions/timeline-view/stores/useGroupFilter.ts
  apps/desktop/src/types/tauri.gen.ts
  crates/db/src/server/events.rs
Due: prettier, eslint

fix: add helper to extract type info from request query
  Cargo.lock
  Cargo.toml
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/network/events.rs
  apps/desktop/src-tauri/src/network/utils.rs
  apps/desktop/src/extensions/timeline-view/index.tsx
  apps/server/Cargo.toml
  apps/server/src/routes/events.rs
Due: prettier, eslint

feat: display filtered events in timeline view
  apps/desktop/src-tauri/src/network/utils.rs
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
  apps/desktop/src/extensions/timeline-view/index.tsx
  apps/desktop/src/types/tauri.gen.ts
  crates/common/src/models/outputs.rs
Due: prettier, eslint

feat: display events in custom range
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
  apps/desktop/src/extensions/timeline-view/index.tsx
  apps/desktop/src/extensions/timeline-view/stores/useGroupFilter.ts
  crates/common/src/time.rs
Due: prettier, eslint

chore: refactor event fetching code
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
  apps/desktop/src/extensions/timeline-view/hooks/useEventFetcher.ts
  apps/desktop/src/extensions/timeline-view/index.tsx
Due: prettier, eslint

chore: remove afk event websocket logic
  Cargo.lock
  apps/server/Cargo.toml
  apps/server/src/models.rs
  apps/server/src/routes/afk_events.rs
Due: none

fix: log an event every time a window changes, regardless of whether there is input
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/ui/notification.rs
  apps/desktop/src/extensions/goals-view/components/BarLineChart.tsx
  apps/desktop/src/types/tauri.gen.ts
  crates/common/src/time.rs
Due: prettier, eslint

fix: auto end event on app shutdown
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/trackers/keyboard_tracker.rs
Due: none

fix: add shutdown logic to window tracker
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/trackers/window_tracker.rs
Due: none

fix: add helper logic to shutdown sync service + afk tracker
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/sync_service.rs
  apps/desktop/src-tauri/src/trackers/afk_tracker.rs
Due: none

fix: prevent branch and language names from being stored as empty strings
  apps/desktop/src-tauri/src/sync_service.rs
Due: none

feat: add logic to delete synced data
  .sqlx/query-1f14424ec84e65a15ea8c9057f12cbaacad1cf4ff94a868af242e739dd30e81d.json
  .sqlx/query-710a3c3b0444ba6d3567e4c432a6673ae8426f5d419b4add7635b4be09e024a9.json
  .sqlx/query-8957f31798178ee127b56b5b6e3ff161387da00027a4b5ac63c4ab7473a9e3c4.json
  .sqlx/query-c6db5be618b115898e52e390686d5925689749c8635e7ab3087c668f2a8eca10.json
  apps/desktop/src-tauri/src/sync_service.rs
  crates/db/src/desktop/afk_events.rs
  crates/db/src/desktop/events.rs
  crates/db/src/desktop/heartbeats.rs
Due: none

fix: update goal notification on goal entry update
  .sqlx/query-04bbe0869095d46a32f29680c6e846932a432b4dfeddbd820fd96cee8110506a.json
  .sqlx/query-25a7ca4486b30fcbe36449dfc1b4646270170718dce5739667f8e123db422430.json
  .sqlx/query-30aa134aa20694090205d0e1e50b18e81859c7aca52d65533c47d4b64365f352.json
  .sqlx/query-4891ff138e21c96d19de0cd7d8e3b3c9c5a88fcfd1afca02946b2be4c74a9c5f.json
  .sqlx/query-603d63457169485877fe5caa72cf23aa0e0e612d2d75eeaa55acfc687ae6c075.json
  .sqlx/query-8d07d3d989e85c6fcbcaee8416a99f159093aa2db18d3ecfabcf77befae77cb4.json
  .sqlx/query-94a705d84f1854c7249036d0ba29f37781694b102a9bb076b35f8512e330e5ce.json
  .sqlx/query-9d1d1a11e14f98e1932ad43ecda47f5e06a2be946ae4c7136822a32cc1c66ccf.json
  .sqlx/query-deb7402037b73fdbdb7bb98c7618c0ef6138dae990f82f70cff652c23017eb51.json
  crates/db/migrations/desktop/20250416111649_initial_desktop_schema.sql
  crates/db/src/desktop/goals.rs
Due: none

fix: refactor branch and language detection logic to common crate
  Cargo.lock
  Cargo.toml
  apps/cli/Cargo.toml
  apps/cli/src/cli.rs
  apps/cli/src/event.rs
  apps/cli/src/heartbeat.rs
  apps/cli/src/main.rs
  apps/cli/src/utils.rs
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/helpers/app.rs
  apps/desktop/src-tauri/src/helpers/git.rs
  apps/desktop/src-tauri/src/helpers/language.rs
  apps/desktop/src-tauri/src/helpers/mod.rs
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/trackers/heartbeat_tracker.rs
  crates/common/Cargo.toml
  crates/common/src/git.rs
  crates/common/src/language.rs
  crates/common/src/lib.rs
Due: none

chore: remove redundant raw string literal usage
  .sqlx/query-8b261c9bbab7781a96778fe897257a0afa51e05a0a2679f999cfd6ce6994a346.json
  crates/db/src/desktop/afk_events.rs
  crates/db/src/desktop/events.rs
  crates/db/src/desktop/goal_notifications.rs
  crates/db/src/desktop/goals.rs
  crates/db/src/desktop/heartbeats.rs
  crates/db/src/server/afk_events.rs
Due: none

fix: refactor db logic and change variable names
  Cargo.lock
  apps/cli/Cargo.toml
  apps/cli/migrations/V1__init.sql
  apps/cli/src/cli.rs
  apps/cli/src/db.rs
  apps/cli/src/event.rs
  apps/cli/src/main.rs
Due: none

chore: update CLI documentation
  apps/cli/src/cli.rs
  apps/cli/src/event.rs
  apps/cli/src/main.rs
  apps/cli/src/sync.rs
  apps/cli/src/utils.rs
Due: none

chore: refactor subcommands and init logic to handlers and helper logic
  apps/cli/src/handlers/event.rs
  apps/cli/src/handlers/heartbeat.rs
  apps/cli/src/handlers/mod.rs
  apps/cli/src/handlers/sync.rs
  apps/cli/src/main.rs
  apps/cli/src/utils.rs
Due: none

chore: refactor code and use custom error enum
  Cargo.lock
  apps/cli/Cargo.toml
  apps/cli/src/cli.rs
  apps/cli/src/db.rs
  apps/cli/src/event.rs
  apps/cli/src/handlers/event.rs
  apps/cli/src/handlers/heartbeat.rs
  apps/cli/src/handlers/sync.rs
  apps/cli/src/heartbeat.rs
  apps/cli/src/main.rs
  apps/cli/src/sync.rs
  apps/cli/src/utils.rs
Due: none

fix: modify config to support different CLI instances
  apps/cli/src/cli.rs
  apps/cli/src/config.rs
  apps/cli/src/main.rs
Due: none

feat: add logic to delete synced data
  apps/cli/src/sync.rs
Due: none

chore: add extra category
  apps/cli/src/config.rs
  apps/desktop/src-tauri/src/monitored_app.rs
Due: none

fix: enable language tracking across heartbeats and languages
  apps/cli/migrations/V1__init.sql
  apps/cli/src/config.rs
  apps/cli/src/handlers/event.rs
  apps/cli/src/heartbeat.rs
Due: none

chore: add code back to list of ignored apps
  apps/desktop/src-tauri/src/monitored_app.rs
Due: none

fix: display branch selection dialog when branches are present
  apps/desktop/src/extensions/projects-view/hooks/useProjectSummaryData.ts
  apps/desktop/src/extensions/projects-view/hooks/useTotalBucketedTime.ts
Due: prettier, eslint

chore: add config unit tests
  Cargo.lock
  Cargo.toml
  apps/cli/Cargo.toml
  apps/cli/src/config.rs
Due: none

test: add tests for db init and event saving logic
  apps/cli/src/db.rs
  apps/cli/src/event.rs
  apps/cli/src/main.rs
  apps/cli/src/utils.rs
Due: none

test: add tests for fetching unsynced data and deleting synced data
  apps/cli/src/sync.rs
Due: none

test: add tests for save heartbeat logic
  apps/cli/src/heartbeat.rs
  apps/cli/src/sync.rs
Due: none

test: add reusable function to setup test connection
  apps/cli/src/event.rs
  apps/cli/src/heartbeat.rs
  apps/cli/src/sync.rs
  apps/cli/src/utils.rs
Due: none

ci: add actions for automated testing workflows
  .github/actions/setup.yml
  .github/workflows/unit-test.yml
Due: prettier

ci: fix setup action path
  .github/actions/setup-env/action.yml
  .github/workflows/unit-test.yml
Due: prettier

ci: fix rust toolchain target reference
  .github/actions/setup-env/action.yml
Due: prettier

fix: track mouse movement and clicks actively
  apps/desktop/src-tauri/src/trackers/mouse_tracker.rs
Due: none

fix: track key up, down and flag changed keyboard events more accurately
  apps/desktop/src-tauri/src/trackers/keyboard_tracker.rs
Due: none

chore: modify mouse tracker params
  apps/desktop/src-tauri/src/trackers/afk_tracker.rs
  apps/desktop/src-tauri/src/trackers/mouse_tracker.rs
Due: none

chore: remove redundant config
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/trackers/heartbeat_tracker.rs
Due: none

feat: add logic to encypt the cli db in production
  Cargo.lock
  Cargo.toml
  apps/cli/Cargo.toml
  apps/cli/src/config.rs
  apps/cli/src/db.rs
  apps/cli/src/main.rs
  apps/cli/src/utils.rs
  apps/desktop/src-tauri/src/main.rs
  apps/server/src/main.rs
  apps/server/src/models.rs
  crates/common/Cargo.toml
  crates/common/src/keyring.rs
  crates/common/src/lib.rs
Due: none
