Repository Skopio-app/skopio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: Prettier Formatter
  entry: npx prettier --write
  language: node

eslint:
  name: ESLint
  entry: npx eslint . --config apps/desktop/eslint.config.js
  language: node

chore: fix typing + add chip selection indicator
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalDialog.tsx
  packages/ui/dist/global.css
  packages/ui/src/components/chip-selector.tsx
  packages/ui/src/styles/global.css
Due: prettier, eslint

feat: disable selection of ignored apps
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/trackers/heartbeat_tracker.rs
  apps/desktop/src-tauri/src/trackers/window_tracker.rs
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalDialog.tsx
  apps/desktop/src/hooks/useOpenApps.ts
  apps/desktop/src/types/tauri.gen.ts
  packages/ui/dist/global.css
  packages/ui/src/components/chip-selector.tsx
Due: prettier, eslint

feat: enable event tracking only for selected apps
  apps/desktop/src-tauri/src/helpers/config.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/trackers/heartbeat_tracker.rs
  apps/desktop/src-tauri/src/trackers/mouse_tracker.rs
Due: none

feat: add permission UI
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src/components/settings/PermissionCard.tsx
  apps/desktop/src/components/settings/views/Permission.tsx
  packages/ui/dist/global.css
  packages/ui/src/components/chip-selector.tsx
Due: prettier, eslint

feat: add permission checking logic + dialog
  Cargo.lock
  Cargo.toml
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/trackers/window_tracker.rs
  apps/desktop/src-tauri/src/ui/tray.rs
  apps/desktop/src-tauri/src/utils/app.rs
  apps/desktop/src-tauri/src/utils/config.rs
  apps/desktop/src-tauri/src/utils/db.rs
  apps/desktop/src-tauri/src/utils/mod.rs
  apps/desktop/src-tauri/src/utils/permissions.rs
  apps/desktop/src-tauri/src/utils/time.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/components/settings/PermissionCard.tsx
  apps/desktop/src/components/settings/PermissionsDialog.tsx
  apps/desktop/src/components/settings/views/Permission.tsx
  apps/desktop/src/hooks/usePermissions.ts
  apps/desktop/src/types/tauri.gen.ts
Due: prettier, eslint

chore: update dialog + card styling
  apps/desktop/src-tauri/src/utils/permissions.rs
  apps/desktop/src/components/settings/PermissionCard.tsx
  apps/desktop/src/components/settings/PermissionRow.tsx
  apps/desktop/src/components/settings/PermissionsDialog.tsx
  apps/desktop/src/components/settings/views/Permission.tsx
  apps/desktop/src/types/tauri.gen.ts
  apps/desktop/src/utils/data.ts
Due: prettier, eslint

chore: use generated type
  apps/desktop/src/hooks/usePermissions.ts
Due: prettier, eslint

chore: add path alias and fix context menu styling
  apps/desktop/src/App.tsx
  apps/desktop/src/components/CalendarChart.tsx
  apps/desktop/src/components/CustomPieChart.tsx
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/components/NotificationPanel.tsx
  apps/desktop/src/components/RangeSelectionDialog.tsx
  apps/desktop/src/components/RedirectToTab.tsx
  apps/desktop/src/components/StackedBarChart.tsx
  apps/desktop/src/components/settings/PermissionCard.tsx
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/hooks/useGlobalShortcut.ts
  apps/desktop/src/hooks/useOpenApps.ts
  apps/desktop/src/hooks/usePermissions.ts
  apps/desktop/src/main.tsx
  apps/desktop/src/pages/TabExtensionHost.tsx
  apps/desktop/src/pages/TabExtensionPage.tsx
  apps/desktop/src/utils/data.ts
  apps/desktop/src/utils/hotkey.ts
  apps/desktop/src/utils/shortcut.ts
  apps/desktop/src/utils/time.ts
  apps/desktop/tsconfig.app.json
Due: prettier, eslint

chore: remove redundant settings
  packages/ui/tsconfig.json
  tsconfig.json
Due: prettier

chore: add deps for udp sockets logic
  Cargo.lock
  apps/server/Cargo.toml
Due: none

fix: refactor param logic in dashboard and projects view
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src/components/RangeSelectionDialog.tsx
  apps/desktop/src/extensions/dashboard-view/index.tsx
  apps/desktop/src/extensions/projects-view/ProjectDetails.tsx
  apps/desktop/src/extensions/projects-view/components/BranchSelectionDialog.tsx
  apps/desktop/src/extensions/projects-view/hooks/useProjectSummaryData.ts
  apps/desktop/src/extensions/projects-view/hooks/useTotalBucketedTime.ts
  apps/desktop/src/extensions/projects-view/stores/usePresetFilter.ts
  apps/desktop/src/hooks/useDateRangesParams.ts
  crates/db/src/server/summary.rs
Due: prettier, eslint

fix: display branch data via hook input
  apps/desktop/src/extensions/projects-view/ProjectDetails.tsx
  apps/desktop/src/extensions/projects-view/components/BranchSelectionDialog.tsx
  apps/desktop/src/extensions/projects-view/hooks/useTotalBucketedTime.ts
Due: prettier, eslint

fix: refactor branch and date range selection inputs
  apps/desktop/src/components/RangeSelectionDialog.tsx
  apps/desktop/src/extensions/projects-view/components/BranchSelectionDialog.tsx
  apps/desktop/src/extensions/projects-view/hooks/useTotalBucketedTime.ts
  apps/desktop/src/extensions/projects-view/stores/usePresetFilter.ts
Due: prettier, eslint

fix: return project summaries with no associated branches
  Cargo.lock
  apps/desktop/src/App.tsx
  apps/desktop/src/extensions/projects-view/components/BranchSelectionDialog.tsx
  apps/desktop/src/extensions/projects-view/stores/usePresetFilter.ts
  apps/server/Cargo.toml
Due: prettier, eslint

chore: add udp helpers
  Cargo.lock
  apps/server/Cargo.toml
  apps/server/src/net.rs
Due: none

chore: add socket logic for prod app
  Cargo.lock
  apps/server/Cargo.toml
  apps/server/src/app.rs
  apps/server/src/main.rs
  apps/server/src/net.rs
  crates/db/src/server/summary.rs
Due: none

fix: truncate large texts in project details view
  apps/desktop/src/extensions/projects-view/components/CirclePackingChart.tsx
  apps/desktop/src/extensions/projects-view/components/ItemsList.tsx
  packages/ui/tsconfig.json
Due: prettier, eslint

refactor: unify db logic to use common error object
  apps/server/src/routes/afk_events.rs
  crates/db/src/desktop/afk_events.rs
  crates/db/src/desktop/events.rs
  crates/db/src/desktop/goal_notifications.rs
  crates/db/src/desktop/goals.rs
  crates/db/src/desktop/heartbeats.rs
  crates/db/src/error.rs
  crates/db/src/lib.rs
  crates/db/src/server/afk_events.rs
  crates/db/src/server/apps.rs
  crates/db/src/server/branches.rs
  crates/db/src/server/categories.rs
  crates/db/src/server/entities.rs
  crates/db/src/server/events.rs
  crates/db/src/server/heartbeats.rs
  crates/db/src/server/insights.rs
  crates/db/src/server/languages.rs
  crates/db/src/server/projects.rs
  crates/db/src/server/source.rs
  crates/db/src/server/summary.rs
  crates/db/src/utils.rs
Due: none

refactor: add custom error type for server app
  Cargo.lock
  apps/server/Cargo.toml
  apps/server/src/error.rs
  apps/server/src/main.rs
  apps/server/src/routes/afk_events.rs
  apps/server/src/routes/apps.rs
  apps/server/src/routes/categories.rs
  apps/server/src/routes/events.rs
  apps/server/src/routes/heartbeats.rs
  apps/server/src/routes/insights.rs
  apps/server/src/routes/projects.rs
  apps/server/src/routes/summary.rs
  apps/server/src/utils.rs
  crates/db/src/server/afk_events.rs
  crates/db/src/server/apps.rs
  crates/db/src/server/projects.rs
Due: none

chore: add bearer auth helper
  apps/desktop/src/extensions/dashboard-view/components/SettingsContent.tsx
  apps/desktop/src/extensions/projects-view/components/ItemsList.tsx
  apps/server/src/auth.rs
  apps/server/src/error.rs
  apps/server/src/main.rs
Due: prettier, eslint

chore: add reqwest helper
  Cargo.lock
  apps/server/src/main.rs
  crates/common/Cargo.toml
  crates/common/src/client.rs
  crates/common/src/lib.rs
Due: none

feat: add reqwest helpers to tauri app
  apps/desktop/src-tauri/src/network/data.rs
  apps/desktop/src-tauri/src/network/events.rs
  apps/desktop/src-tauri/src/network/insights.rs
  apps/desktop/src-tauri/src/network/mod.rs
  apps/desktop/src-tauri/src/network/summaries.rs
  apps/desktop/src-tauri/src/network/utils.rs
  apps/desktop/src-tauri/src/sync_service.rs
  apps/server/src/main.rs
Due: none

chore: remove keychain logic for dev builds
  apps/server/src/auth.rs
  apps/server/src/main.rs
  crates/common/src/client.rs
Due: none

chore: remove heartbeat logic in desktop app
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/sync_service.rs
  apps/desktop/src-tauri/src/trackers/afk_tracker.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/trackers/heartbeat_tracker.rs
  apps/desktop/src-tauri/src/trackers/mod.rs
  apps/desktop/src-tauri/src/trackers/mouse_tracker.rs
  apps/desktop/src-tauri/src/tracking_service.rs
  crates/db/src/desktop/afk_events.rs
  crates/db/src/desktop/events.rs
Due: none

refactor: remove redudant heartbeat logic
  .sqlx/query-02f34e94e7a4706cdecfa4f17821f40812ea12129cde8fb997ccab2b06a8398e.json
  .sqlx/query-1f14424ec84e65a15ea8c9057f12cbaacad1cf4ff94a868af242e739dd30e81d.json
  .sqlx/query-285db8483ff9525e48841bdef46654134213acd473644689c0ce74a9940e412d.json
  .sqlx/query-49e55ba3daa8f0acce4d00d944243218d0d4833d3450d73dec78195116ae67ee.json
  .sqlx/query-d96e61d6f7b403900eae3faf4ba6690c24ae1d9e8dd9b89bd3905423563f3347.json
  apps/cli/migrations/V1__init.sql
  apps/cli/src/cli.rs
  apps/cli/src/handlers/heartbeat.rs
  apps/cli/src/handlers/mod.rs
  apps/cli/src/heartbeat.rs
  apps/cli/src/main.rs
  apps/cli/src/sync.rs
  apps/desktop/src-tauri/src/utils/config.rs
  apps/server/src/app.rs
  apps/server/src/routes/heartbeats.rs
  apps/server/src/routes/mod.rs
  crates/common/src/models/inputs.rs
  crates/db/migrations/desktop/20250416111649_initial_desktop_schema.sql
  crates/db/migrations/server/20250416111829_initial_server_schema.sql
  crates/db/src/desktop/heartbeats.rs
  crates/db/src/desktop/mod.rs
  crates/db/src/server/heartbeats.rs
  crates/db/src/server/mod.rs
Due: none

feat: add prod db encryption in db crate
  Cargo.lock
  Cargo.toml
  apps/cli/Cargo.toml
  apps/desktop/src/types/tauri.gen.ts
  apps/server/src/error.rs
  crates/db/Cargo.toml
  crates/db/src/connection.rs
  crates/db/src/desktop/afk_events.rs
  crates/db/src/desktop/goals.rs
  crates/db/src/error.rs
  crates/db/src/server/languages.rs
  crates/db/src/server/source.rs
Due: prettier, eslint

ci: add server release workflow
  .github/workflows/server-release.yml
Due: prettier

ci: add release selector to conditionally run release workflows
  .github/workflows/_guard-release-branch.yml
  .github/workflows/cli-release.yml
  .github/workflows/release-selector.yml
  .github/workflows/server-release.yml
Due: prettier

fix: ensure prod uds logic works
  .github/workflows/cli-release.yml
  Cargo.lock
  Cargo.toml
  apps/desktop/src-tauri/src/goals_service.rs
  apps/desktop/src/extensions/insights-view/components/MostActiveDaySection.tsx
  apps/desktop/src/extensions/insights-view/components/TotalTimeSection.tsx
  apps/server/Cargo.toml
  crates/common/src/client.rs
  crates/common/src/error.rs
  crates/common/src/lib.rs
Due: prettier, eslint

feat: add logic to download, start, and stop server app
  Cargo.lock
  Cargo.toml
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/server.rs
Due: none

refactor: fix server logs logic
  Cargo.lock
  Cargo.toml
  apps/cli/src/utils.rs
  apps/desktop/src-tauri/src/server.rs
  apps/server/Cargo.toml
  apps/server/src/main.rs
  apps/server/src/utils.rs
Due: none

docs: add README and CHANGELOG for server app
  apps/desktop/src-tauri/src/network/summaries.rs
  apps/server/CHANGELOG.md
  apps/server/README.md
  apps/server/src/routes/projects.rs
  apps/server/src/routes/summary.rs
Due: prettier

ci: add back setup env composite action
  .github/workflows/cli-release.yml
  .github/workflows/server-release.yml
Due: prettier

ci: attempt openssl fix
  .github/workflows/release-selector.yml
  .github/workflows/server-release.yml
Due: prettier

fix: make git2 depend on a vendored version of openssl
  .github/workflows/server-release.yml
  crates/common/Cargo.toml
Due: prettier

ci: retrieve accurate app cargo toml version
  .github/workflows/server-release.yml
Due: prettier

feat: add versioning and server status logic
  .github/workflows/server-release.yml
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/server.rs
  apps/desktop/src-tauri/src/ui/tray.rs
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/hooks/useServerStatus.ts
  apps/desktop/src/types/tauri.gen.ts
Due: prettier, eslint

fix: stream server status correctly to the frontend
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/server.rs
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/hooks/useServerStatus.ts
Due: prettier, eslint

fix: qoute encryption key to remove syntax error
  crates/db/src/connection.rs
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.tsx$, \.(ts|mts|cts)$, \.css$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.(html|htm|xhtml)$, but not: ^\.sqlx/
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.tsx$, \.(ts|mts|cts)$
