Repository Skopio-app/skopio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: Prettier Formatter
  entry: npx prettier --write
  language: node

eslint:
  name: ESLint
  entry: npx eslint . --config apps/desktop/eslint.config.js
  language: node

docs: update desktop app version to 0.1.8
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

fix: add composite indexes to supplement bucket CTEs
  Cargo.lock
  crates/db/Cargo.toml
  crates/db/migrations/server/20251129204954_add_composite_indexes.sql
  crates/db/src/server/events.rs
  crates/db/src/server/projects/mod.rs
  crates/db/src/server/summary.rs
  crates/db/src/server/utils/query.rs
  crates/db/src/utils.rs
  crates/db/tests/helpers.rs
  crates/db/tests/overlap_total.rs
Due: none

fix: add code to calculate event duration overlap accurately
  crates/db/src/server/summary.rs
  crates/db/src/server/utils/query.rs
Due: none

release (#44)
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
  crates/db/Cargo.toml
  crates/db/migrations/server/20251129204954_add_composite_indexes.sql
  crates/db/src/server/events.rs
  crates/db/src/server/projects/mod.rs
  crates/db/src/server/summary.rs
  crates/db/src/server/utils/query.rs
  crates/db/src/utils.rs
  crates/db/tests/helpers.rs
  crates/db/tests/overlap_total.rs
Due: prettier

docs: enhance duration overlap function documentation
  crates/db/src/server/utils/query.rs
Due: none

test: add comprehensive tests for event duration overlap calculations
  crates/db/src/server/utils/query.rs
Due: none

docs: update changelog for v0.1.7
  apps/server/CHANGELOG.md
Due: prettier

chore: update server app to v0.1.7
  Cargo.lock
  apps/server/Cargo.toml
Due: none

docs: update changelog for v0.1.7 (#46)
  Cargo.lock
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier

fix: correct event timestamp condition in summary query
  crates/db/src/server/summary.rs
Due: none

docs: update server version to 0.1.8 and document changes in changelog
  Cargo.lock
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier

docs: update server version to 0.1.8 and document changes in changelog (#47)
  Cargo.lock
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier

chore: improve CLI command documentation
  apps/cli/src/cli.rs
Due: none

fix: update layout and styling of data display in pie chart component
  apps/desktop/src/components/CustomPieChart.tsx
Due: prettier, eslint

fix: enhance CustomPieChart responsiveness with dynamic margins and arc link labels
  apps/desktop/src/components/CustomPieChart.tsx
  apps/desktop/src/hooks/useElementSize.ts
Due: prettier, eslint

chore: add JetBrains IDEs to ignore list
  apps/desktop/src-tauri/src/monitored_app.rs
Due: none

fix: update branch name resolution logic for Xcode app bundles
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
Due: none

fix: refactor insight range date handling for improved clarity and consistency
  crates/common/src/time/insight.rs
  crates/db/src/server/insights.rs
Due: none

chore: remove redundant comments
  crates/db/src/server/insights.rs
Due: none

fix: enhance SectionContainer to support text variant with loading skeletons
  apps/desktop/src/extensions/insights-view/components/SectionContainer.tsx
  apps/desktop/src/extensions/insights-view/components/TextSectionItem.tsx
  crates/db/src/server/insights.rs
Due: prettier, eslint

fix: refactor SkeletonChart to support calendar variant
  apps/desktop/src/components/loading/SkeletonChart.tsx
Due: prettier, eslint

fix: modify calendar chart skeleton sizing
  apps/desktop/src/components/loading/SkeletonChart.tsx
  apps/desktop/src/extensions/insights-view/components/ActivitySection.tsx
  apps/desktop/src/extensions/insights-view/components/SectionContainer.tsx
Due: prettier, eslint

feat: add pie chart skeleton variant
  apps/desktop/src/components/loading/SkeletonChart.tsx
  apps/desktop/src/extensions/dashboard-view/components/WidgetCard.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/ActivityChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/AppPieChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/LanguagePieChartWidget.tsx
Due: prettier, eslint

chore: add pie chart skeleton option to project section
  apps/desktop/src/extensions/projects-view/components/ChartContainer.tsx
  apps/desktop/src/extensions/projects-view/components/sections/AppPieChartSection.tsx
  apps/desktop/src/extensions/projects-view/components/sections/LanguagePieChartSection.tsx
Due: prettier, eslint

fix: refactor SkeletonChart to improve chart rendering logic and opacity calculations
  apps/desktop/src/components/loading/SkeletonChart.tsx
Due: prettier, eslint

fix: update skeleton display in ItemsList for better loading indication
  apps/desktop/src/extensions/projects-view/components/ItemsList.tsx
Due: prettier, eslint

fix: simplify DBEvent conversion by implementing From<Event> trait
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
Due: none

chore: update desktop app and server versions to 0.1.9
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
  apps/server/Cargo.toml
Due: prettier

docs: update server app changelog for v0.1.9 release
  apps/server/CHANGELOG.md
Due: prettier

docs: update desktop app changelog for v0.1.9 release
  apps/desktop/CHANGELOG.md
  apps/server/CHANGELOG.md
Due: prettier

release (#49)
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier

refactor: encapsulate goal notification functions within GoalNotification struct
  apps/desktop/src-tauri/src/goals_service.rs
  crates/db/src/desktop/goal_notifications.rs
Due: none

refactor: streamline goal management by consolidating database operations
  .sqlx/query-1fd77b3c84e403d8138f2bb312402531cddbfdc49e4391084308834878067574.json
  .sqlx/query-8bd31c9bcc012d08c72f33f202858e523d6e003316139ef209f02d8979e50c09.json
  .sqlx/query-ff845882f8fff0c7447916cf9d957eb194a1eea733694c5853941fe04e1266ac.json
  apps/desktop/src-tauri/src/goals_service.rs
  crates/db/src/desktop/goals.rs
Due: none

chore: remove rendundant AFK retrieval logic
  crates/db/src/server/afk_events.rs
Due: none

feat: add AFK events fetching functionality
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/network/afk_events.rs
  apps/desktop/src-tauri/src/network/mod.rs
  apps/server/src/routes/afk_events.rs
  crates/db/src/server/afk_events.rs
Due: none

feat: migrate AFK events to use Unix timestamps
  crates/db/migrations/server/20260206224246_migrate_afk_events_to_unix_timestamps.sql
Due: none

feat: add generated function to fetch afk events
  apps/desktop/src/types/tauri.gen.ts
Due: prettier, eslint

feat: display AFK events in timeline
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
  apps/desktop/src/extensions/timeline-view/hooks/useEventSummary.ts
  apps/desktop/src/extensions/timeline-view/index.tsx
Due: prettier, eslint

fix: remove AFK group when switch is toggled off
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
  apps/desktop/src/extensions/timeline-view/index.tsx
Due: prettier, eslint

feat: implement custom hook for local storage management
  apps/desktop/src/extensions/timeline-view/hooks/useLocalStorage.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.tsx$, \.(ts|mts|cts)$, \.css$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.(html|htm|xhtml)$, but not: ^(\.sqlx/|.*\/dist\/)
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.tsx$, \.(ts|mts|cts)$
