Repository Skopio-app/skopio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  # Typescript format
  - repo: local
    hooks:
      - id: prettier
        name: Prettier Formatter
        entry: npx prettier --write
        language: node
        types_or: [javascript, jsx, tsx, ts, css, json, markdown, yaml, html]
        exclude: ^(\.sqlx/|.*\/dist\/)

  # Rust format
  - repo: local
    hooks:
      - id: rustfmt
        name: Rust Formatter
        description: Format rust files within workspace
        entry: cargo fmt --all
        language: system
        pass_filenames: false

  # Rust linting (Clippy)
  - repo: local
    hooks:
      - id: clippy
        name: Rust Linter (Clippy)
        description: Check for warnings and best practices
        entry: cargo clippy -- -D warnings
        language: system
        pass_filenames: false

  # Typescript & JavaScript Linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint . --config apps/desktop/eslint.config.js
        language: node
        types_or: [javascript, jsx, tsx, ts]

fix: remove redundant info from AFK tooltip
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
  apps/desktop/src/extensions/timeline-view/hooks/useEventSummary.ts
Due: prettier, eslint

chore: update dependencies in useEffect
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
Due: prettier, eslint

test: fix up failing test
  crates/common/src/time/mod.rs
Due: none

fix: enhance AFK timeline display and improve group reference handling
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
  apps/desktop/src/extensions/timeline-view/index.tsx
Due: prettier, eslint

refactor: use generic localStorage hook in components
  apps/desktop/src/extensions/dashboard-view/hooks/usePersistentTopN.ts
  apps/desktop/src/extensions/dashboard-view/widgets/CategoryChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/EntityChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/ProjectChartWidget.tsx
  apps/desktop/src/extensions/timeline-view/index.tsx
  apps/desktop/src/hooks/useLocalStorage.ts
Due: prettier, eslint

chore: update app and server versions to 0.1.10
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
  apps/server/Cargo.toml
Due: prettier

docs: update changelog for both server and desktop apps
  apps/desktop/CHANGELOG.md
  apps/server/CHANGELOG.md
Due: prettier

release (#51)
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier

fix: update AFKEvent timestamps to use Unix timestamps for consistency
  apps/server/src/routes/afk_events.rs
  crates/db/src/server/afk_events.rs
Due: none

chore update server app to v0.1.11
  Cargo.lock
  apps/server/Cargo.toml
Due: none

fix: update CHANGELOG for v0.1.11 with AFK event timestamp consistency
  apps/server/CHANGELOG.md
Due: prettier

feat: add documentation for fetching AFK events with time range query
  apps/server/README.md
Due: prettier

release (#52)
  Cargo.lock
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
  apps/server/README.md
Due: prettier

refactor: replace standalone resolve_app_details function with method on BundleIdExt trait
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
Due: none

feat: enhance DinoLoading component with obstacle creation and game mechanics
  apps/desktop/src/components/loading/DinoLoading.tsx
Due: prettier, eslint

feat: implement useWindowKeydown hook for global keydown handling
  apps/desktop/src/components/settings/HotkeyField.tsx
  apps/desktop/src/hooks/useWindowKeydown.ts
  apps/desktop/src/utils/shortcut.ts
Due: prettier, eslint

refactor(dino-game): implement core game logic and rendering
  apps/desktop/src/components/loading/DinoLoading.tsx
  apps/desktop/src/components/loading/dino/data.ts
  apps/desktop/src/components/loading/dino/frame.ts
  apps/desktop/src/components/loading/dino/useDinoGame.ts
Due: prettier, eslint

ci: pin Rust version to 1.80.0
  .github/actions/setup-env/action.yml
Due: prettier

chore: update dependencies and improve error handling
  Cargo.lock
  Cargo.toml
  apps/cli/Cargo.toml
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/utils/ax/cache.rs
  apps/desktop/src/extensions/insights-view/hooks/useInsightsData.ts
  apps/desktop/src/extensions/projects-view/index.tsx
  apps/desktop/src/types/tauri.gen.ts
  apps/server/Cargo.toml
  crates/common/Cargo.toml
  crates/db/src/utils.rs
  package.json
  yarn.lock
Due: prettier, eslint

ci: update Rust toolchain version to 1.85.0
  .github/actions/setup-env/action.yml
Due: prettier

fix: enhance query inputs with optional fields for better filtering
  crates/common/src/models/inputs.rs
Due: none

fix: prevent previous data from being displayed while loading new insights
  apps/desktop/src/extensions/insights-view/components/ActivitySection.tsx
  apps/desktop/src/extensions/insights-view/components/AverageDaySection.tsx
  apps/desktop/src/extensions/insights-view/components/MostActiveDaySection.tsx
  apps/desktop/src/extensions/insights-view/components/TotalTimeSection.tsx
  apps/desktop/src/extensions/insights-view/hooks/useInsightsData.ts
Due: prettier, eslint

chore: update frontend deps
  apps/desktop/package.json
  package.json
  packages/ui/package.json
  yarn.lock
Due: prettier

refactor: switch to react-grid-layout v2
  apps/desktop/src/db/skopioDB.ts
  apps/desktop/src/extensions/dashboard-view/hooks/usePersistentLayout.ts
  apps/desktop/src/extensions/dashboard-view/index.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalDialog.tsx
  packages/ui/src/components/matrix.tsx
  packages/ui/src/index.ts
Due: prettier, eslint

Fix widget drag handle and loading
  apps/desktop/src/extensions/dashboard-view/components/WidgetCard.tsx
Due: prettier, eslint

fix: update vis-timeline and vis-data dependencies
  apps/desktop/package.json
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
  yarn.lock
Due: prettier, eslint

refactor: remove Mutex from DBContext usage in routes
  apps/server/src/app.rs
  apps/server/src/main.rs
  apps/server/src/routes/afk_events.rs
  apps/server/src/routes/apps.rs
  apps/server/src/routes/categories.rs
  apps/server/src/routes/events.rs
  apps/server/src/routes/insights.rs
  apps/server/src/routes/projects.rs
  apps/server/src/routes/summary.rs
Due: none

refactor: group insight queries and convert sections to accept props for data and loading states
  apps/desktop/src/extensions/insights-view/components/ActivitySection.tsx
  apps/desktop/src/extensions/insights-view/components/AverageDaySection.tsx
  apps/desktop/src/extensions/insights-view/components/MostActiveDaySection.tsx
  apps/desktop/src/extensions/insights-view/components/TopLanguagesSection.tsx
  apps/desktop/src/extensions/insights-view/components/TopProjectsSection.tsx
  apps/desktop/src/extensions/insights-view/components/TotalTimeSection.tsx
  apps/desktop/src/extensions/insights-view/hooks/useInsightsData.ts
  apps/desktop/src/extensions/insights-view/index.tsx
Due: prettier, eslint

docs: add CLI app documentation
  apps/cli/README.md
Due: prettier

docs: update server, cli and desktop app changelogs
  apps/cli/CHANGELOG.md
  apps/desktop/CHANGELOG.md
  apps/server/CHANGELOG.md
Due: prettier

fix: update MSRV to 1.85.0
  .github/actions/setup-env/action.yml
  Cargo.toml
Due: prettier

chore: update app versions
  Cargo.lock
  apps/cli/Cargo.toml
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
  apps/server/Cargo.toml
Due: prettier

release (#53)
  .github/actions/setup-env/action.yml
  Cargo.lock
  Cargo.toml
  apps/cli/CHANGELOG.md
  apps/cli/Cargo.toml
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier

feat: add Codex to monitored applications and categorize it under Coding
  apps/desktop/src-tauri/src/monitored_app.rs
Due: none

refactor: update SelectTrigger width for better layout
  apps/desktop/src/extensions/insights-view/index.tsx
Due: prettier, eslint

feat: categorize Codex, ChatGPT, Claude, and Air under AIPairing
  apps/desktop/src-tauri/src/monitored_app.rs
Due: none

refactor: remove tokio dependency and streamline Transport implementation
  Cargo.lock
  crates/common/Cargo.toml
  crates/common/src/client.rs
Due: none

refactor: use raw bytes instead of converting responses to String
  Cargo.lock
  Cargo.toml
  apps/cli/src/sync.rs
  apps/desktop/src-tauri/src/network/mod.rs
  crates/common/Cargo.toml
  crates/common/src/client.rs
Due: none

refactor: add transport helper methods and migrate CLI to tracing
  Cargo.lock
  apps/cli/Cargo.toml
  apps/cli/src/event.rs
  apps/cli/src/main.rs
  apps/cli/src/sync.rs
  apps/cli/src/utils.rs
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/network/mod.rs
  crates/common/Cargo.toml
  crates/common/src/client.rs
  crates/common/src/error.rs
Due: none

refactor: simplify transport initialization and error handling
  crates/common/src/client.rs
Due: none
