Repository Skopio-app/skopio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  # Typescript format
  - repo: local
    hooks:
      - id: prettier
        name: Prettier Formatter
        entry: npx prettier --write
        language: node
        types_or: [javascript, jsx, tsx, ts, css, json, markdown, yaml, html]
        exclude: ^\.sqlx/

  # Rust format
  - repo: local
    hooks:
      - id: rustfmt
        name: Rust Formatter
        description: Format rust files within workspace
        entry: cargo fmt --all
        language: system
        pass_filenames: false

  # Rust linting (Clippy)
  - repo: local
    hooks:
      - id: clippy
        name: Rust Linter (Clippy)
        description: Check for warnings and best practices
        entry: cargo clippy -- -D warnings -A clippy::style
        language: system
        pass_filenames: false

  # Typescript & JavaScript Linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint . --config apps/desktop/eslint.config.js
        language: node
        types_or: [javascript, jsx, tsx, ts]

test: add time module tests
  crates/common/src/time/mod.rs
Due: none

test: add insight module tests
  crates/common/src/time/insight.rs
Due: none

test: fix failing lastNWeeks test
  crates/common/src/time/mod.rs
Due: none

test: add format duration tests
  apps/desktop/src-tauri/src/helpers/time.rs
Due: none

test: fix failing tests
  apps/desktop/src-tauri/src/helpers/time.rs
Due: none

refactor: fix useSummaryData usage
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
  apps/desktop/src/extensions/dashboard-view/widgets/ActivityChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/AppPieChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/CategoryChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/EntityChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/LanguagePieChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/ProjectChartWidget.tsx
Due: prettier, eslint

fix: display data properly in dashboard charts
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
Due: prettier, eslint

feat: add logic to display topN series for bar chart widgets
  apps/desktop/src/extensions/dashboard-view/components/WidgetCard.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/CategoryChartWidget.tsx
  packages/ui/dist/global.css
  packages/ui/package.json
  packages/ui/src/components/slider.tsx
  packages/ui/src/index.ts
  yarn.lock
Due: prettier, eslint

chore: make SettingsContent reusable
  apps/desktop/src/extensions/dashboard-view/components/SettingsContent.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/CategoryChartWidget.tsx
Due: prettier, eslint

feat: add topN settings to category, entity, and project widgets
  apps/desktop/src/extensions/dashboard-view/components/SettingsContent.tsx
  apps/desktop/src/extensions/dashboard-view/hooks/usePersistentTopN.ts
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
  apps/desktop/src/extensions/dashboard-view/widgets/CategoryChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/EntityChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/ProjectChartWidget.tsx
Due: prettier, eslint

fix: return valid language and branch values when joining
  apps/desktop/src/extensions/dashboard-view/hooks/usePersistentTopN.ts
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
  apps/desktop/src/extensions/dashboard-view/widgets/EntityChartWidget.tsx
  apps/server/src/main.rs
  apps/server/src/routes/events.rs
  crates/db/src/server/events.rs
  crates/db/src/server/summary.rs
  crates/db/src/server/utils/query.rs
Due: prettier, eslint

refactor: retrieve entity type when computing summary
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
  apps/desktop/src/extensions/dashboard-view/widgets/CategoryChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/EntityChartWidget.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/ProjectChartWidget.tsx
  apps/desktop/src/types/tauri.gen.ts
  apps/server/src/routes/summary.rs
  crates/db/src/models.rs
  crates/db/src/server/summary.rs
  packages/ui/dist/global.css
  packages/ui/src/components/slider.tsx
Due: prettier, eslint

refactor: parse entity file path before displaying in charts and lists
  apps/desktop/src/components/RangeSelectionDialog.tsx
  apps/desktop/src/extensions/dashboard-view/db/skopioDB.ts
  apps/desktop/src/extensions/dashboard-view/helpers/delta.ts
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
  apps/desktop/src/extensions/dashboard-view/index.tsx
  apps/desktop/src/extensions/insights-view/components/ActivitySection.tsx
  apps/desktop/src/extensions/projects-view/ProjectDetails.tsx
  apps/desktop/src/extensions/projects-view/hooks/useProjectSummaryData.ts
  apps/desktop/src/types/chart.ts
  apps/desktop/src/utils/data.ts
  apps/desktop/src/utils/dateRanges.ts
  apps/desktop/src/utils/time.ts
Due: prettier, eslint

chore: save url path instead of tab title
  apps/desktop/src-tauri/src/helpers/app.rs
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src/extensions/projects-view/components/CirclePackingChart.tsx
Due: prettier, eslint

chore: change bar chart key sorting order
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
Due: prettier, eslint

fix: display rendered bar in descending order
  apps/desktop/src/extensions/dashboard-view/components/SettingsContent.tsx
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
Due: prettier, eslint

refactor: switch to GET requests
  apps/desktop/src-tauri/src/network/summaries.rs
  apps/desktop/src-tauri/src/network/utils.rs
  apps/server/src/routes/summary.rs
Due: none

refactor: remove redundant include_afk parameter
  apps/desktop/src-tauri/src/goals_service.rs
  apps/desktop/src-tauri/src/ui/tray.rs
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
  apps/desktop/src/extensions/dashboard-view/hooks/useTotalTime.ts
  apps/desktop/src/extensions/goals-view/components/GoalDisplay.tsx
  apps/desktop/src/extensions/insights-view/components/ActivitySection.tsx
  apps/desktop/src/extensions/insights-view/components/TotalTimeSection.tsx
  apps/desktop/src/extensions/projects-view/hooks/useProjectSummaryData.ts
  apps/desktop/src/extensions/projects-view/hooks/useTotalBucketedTime.ts
  apps/desktop/src/extensions/timeline-view/hooks/useEventFetcher.ts
  apps/desktop/src/types/tauri.gen.ts
  apps/server/src/routes/events.rs
  apps/server/src/routes/summary.rs
  crates/common/src/models/inputs.rs
  crates/db/src/server/events.rs
  crates/db/src/server/summary.rs
  crates/db/src/server/utils/summary_filter.rs
Due: prettier, eslint

refactor: make use of SummaryFilter helper struct
  apps/desktop/src-tauri/src/network/events.rs
  apps/desktop/src-tauri/src/network/summaries.rs
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
  apps/desktop/src/extensions/goals-view/components/GoalDisplay.tsx
  apps/desktop/src/extensions/insights-view/components/ActivitySection.tsx
  apps/desktop/src/extensions/projects-view/hooks/useProjectSummaryData.ts
  apps/desktop/src/extensions/projects-view/hooks/useTotalBucketedTime.ts
  apps/desktop/src/extensions/timeline-view/hooks/useEventFetcher.ts
  apps/desktop/src/types/tauri.gen.ts
  apps/server/src/routes/events.rs
  apps/server/src/routes/summary.rs
  crates/common/src/models/inputs.rs
  crates/db/src/server/summary.rs
Due: prettier, eslint

fix: display all associated events when filtering in timeline view
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
  apps/desktop/src/types/tauri.gen.ts
  apps/server/src/routes/events.rs
  crates/common/src/models/inputs.rs
  crates/common/src/models/outputs.rs
  crates/db/src/models.rs
  crates/db/src/server/events.rs
  crates/db/src/server/summary.rs
Due: prettier, eslint

chore: add function documentation
  apps/desktop/src/types/tauri.gen.ts
  crates/db/src/server/events.rs
Due: prettier, eslint

fix: make app titlebar draggable again
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/tauri.conf.json
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/index.css
  apps/desktop/src/main.tsx
  crates/db/src/server/source.rs
  crates/db/src/server/summary.rs
  yarn.lock
Due: prettier, eslint

chore: small styling fixes
  apps/desktop/src/components/Dashboard.tsx
  packages/ui/dist/global.css
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/tooltip.tsx
Due: prettier, eslint

fix: update tauri deps + fix traffic light positioning
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/ui/mod.rs
  apps/desktop/src-tauri/src/ui/toolbar.rs
  apps/desktop/src-tauri/tauri.conf.json
  yarn.lock
Due: prettier

feat: consolidate window instantiation logic
  apps/desktop/src-tauri/src/goals_service.rs
  apps/desktop/src-tauri/src/helpers/time.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/ui/mod.rs
  apps/desktop/src-tauri/src/ui/notification.rs
  apps/desktop/src-tauri/src/ui/tray.rs
  apps/desktop/src-tauri/src/ui/window.rs
Due: none

feat: add settings page and window
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/ui/window.rs
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/pages/SettingsPage.tsx
  apps/desktop/src/routes.tsx
  apps/desktop/src/types/tauri.gen.ts
Due: prettier, eslint

chore: add custom context menu
  apps/desktop/src/App.tsx
  packages/ui/dist/global.css
  packages/ui/package.json
  packages/ui/src/components/context-menu.tsx
  packages/ui/src/index.ts
  packages/ui/src/styles/global.css
Due: prettier, eslint

feat: add general settings page
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/ui/window.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/components/settings/HotkeyField.tsx
  apps/desktop/src/components/settings/kbd.tsx
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/components/settings/views/Permission.tsx
  apps/desktop/src/pages/SettingsPage.tsx
  apps/desktop/src/routes.tsx
  packages/ui/package.json
  packages/ui/src/components/form.tsx
  packages/ui/src/index.ts
  yarn.lock
Due: prettier, eslint

fix: display actual key when alt is pressed before a normal key
  apps/desktop/src-tauri/src/ui/window.rs
  apps/desktop/src/components/settings/HotkeyField.tsx
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/pages/SettingsPage.tsx
  apps/desktop/src/utils/constants.ts
  apps/desktop/src/utils/hotkey.ts
Due: prettier, eslint

chore: add popover to hotkey field + fix styling
  apps/desktop/src/components/settings/HotkeyField.tsx
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/extensions/dashboard-view/components/WidgetCard.tsx
  packages/ui/dist/global.css
  packages/ui/src/styles/global.css
Due: prettier, eslint

fix: use css variables for shadcn components
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalDialog.tsx
  apps/desktop/src/extensions/goals-view/index.tsx
  apps/desktop/src/extensions/timeline-view/index.tsx
  packages/ui/dist/global.css
  packages/ui/src/components/button.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/switch.tsx
  packages/ui/src/styles/global.css
Due: prettier, eslint

feat: add autostart logic
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/hooks/useAutostart.ts
  packages/ui/dist/global.css
  packages/ui/src/components/slider.tsx
  packages/ui/src/styles/global.css
Due: prettier, eslint

feat: save and persists global shortcut
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/src/goals_service.rs
  apps/desktop/src-tauri/src/helpers/config.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/extensions/goals-view/index.tsx
  apps/desktop/src/extensions/projects-view/ProjectDetails.tsx
  apps/desktop/src/hooks/useGlobalShortcut.ts
  apps/desktop/src/main.tsx
  apps/desktop/src/types/tauri.gen.ts
  apps/desktop/src/utils/hotkey.ts
  apps/desktop/src/utils/shortcut.ts
  yarn.lock
Due: prettier, eslint

chore: fix up global shortcut logic
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src/App.tsx
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/main.tsx
  apps/desktop/src/utils/hotkey.ts
  apps/desktop/src/utils/shortcut.ts
Due: prettier, eslint

feat: add back custom context menu + window logic and listeners
  apps/desktop/src/App.tsx
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/utils/shortcut.ts
Due: prettier, eslint

chore: show settings window via shortcut
  apps/desktop/src-tauri/src/helpers/config.rs
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/hooks/useGlobalShortcut.ts
  apps/desktop/src/types/tauri.gen.ts
  apps/desktop/src/utils/shortcut.ts
Due: prettier, eslint

feat: add devtools menu item and allow editing afk duration config
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/ui/window.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/types/tauri.gen.ts
  apps/desktop/src/utils/shortcut.ts
Due: prettier, eslint

feat: add option to choose tracked apps
  apps/desktop/src-tauri/src/helpers/app.rs
  apps/desktop/src-tauri/src/helpers/config.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/trackers/window_tracker.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/types/tauri.gen.ts
  apps/desktop/src/utils/shortcut.ts
  packages/ui/src/components/ChipSelector.tsx
Due: prettier, eslint

feat: display tracked apps in settings chip selector
  apps/desktop/src-tauri/src/trackers/window_tracker.rs
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/hooks/useOpenApps.ts
  apps/desktop/src/types/tauri.gen.ts
  packages/ui/dist/global.css
  packages/ui/src/components/ChipSelector.tsx
  packages/ui/src/components/chip-selector.tsx
  packages/ui/src/index.ts
Due: prettier, eslint

fix: modify goal dialog chip select usage
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalDialog.tsx
  packages/ui/src/components/chip-selector.tsx
Due: prettier, eslint
