Repository Skopio-app/skopio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  # Typescript format
  - repo: local
    hooks:
      - id: prettier
        name: Prettier Formatter
        entry: npx prettier --write
        language: node
        types_or: [javascript, jsx, tsx, ts, css, json, markdown, yaml, html]
        exclude: ^(\.sqlx/|.*\/dist\/)

  # Rust format
  - repo: local
    hooks:
      - id: rustfmt
        name: Rust Formatter
        description: Format rust files within workspace
        entry: cargo fmt --all
        language: system
        pass_filenames: false

  # Rust linting (Clippy)
  - repo: local
    hooks:
      - id: clippy
        name: Rust Linter (Clippy)
        description: Check for warnings and best practices
        entry: cargo clippy -- -D warnings
        language: system
        pass_filenames: false

  # Typescript & JavaScript Linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint . --config apps/desktop/eslint.config.js
        language: node
        types_or: [javascript, jsx, tsx, ts]

chore: remove redundant dino game logic
  apps/desktop/src/components/loading/DinoLoading.tsx
  apps/desktop/src/components/loading/dino/data.ts
  apps/desktop/src/components/loading/dino/frame.ts
  apps/desktop/src/components/loading/dino/useDinoGame.ts
Due: prettier, eslint

fix: output animation data to json file to separate concerns
  apps/desktop/public/loading/matrixFrames.json
  apps/desktop/src/components/loading/MatrixLoading.tsx
  apps/desktop/src/components/loading/matrix/generatedFrames.ts
  scripts/generate_matrix_frames.mjs
Due: prettier, eslint

fix: switch keyboard and mouse trackers to standard thread builders
  apps/desktop/src-tauri/src/trackers/keyboard_tracker.rs
  apps/desktop/src-tauri/src/trackers/mouse_tracker.rs
Due: none

fix: update window tracker implementation
  apps/desktop/src-tauri/src/trackers/window_tracker.rs
Due: none

fix: enhance AFK tracking with monotonic time and update input activity structure
  apps/desktop/src-tauri/src/trackers/afk_tracker.rs
  apps/desktop/src-tauri/src/trackers/input_activity.rs
Due: none

fix: refactor event tracking logic to start and stop events more accurately
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
Due: none

fix: implement TrackerLifecycle trait for all trackers and refactor tracking logic
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/trackers/afk_tracker.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/trackers/keyboard_tracker.rs
  apps/desktop/src-tauri/src/trackers/mod.rs
  apps/desktop/src-tauri/src/trackers/mouse_tracker.rs
  apps/desktop/src-tauri/src/trackers/power_monitor.rs
  apps/desktop/src-tauri/src/trackers/window_tracker.rs
Due: none

fix: improve event logging message and enhance dependency debug logging filter
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/utils/tracing.rs
Due: none

fix: update ChipSelector dropdown to use dynamic max-height and add z-index
  packages/ui/dist/global.css
  packages/ui/src/components/chip-selector.tsx
Due: prettier, eslint

refactor: centralize theme resolution logic for matrix loading component
  apps/desktop/src/components/loading/MatrixLoading.tsx
  apps/desktop/src/components/settings/ThemeProvider.tsx
  apps/desktop/src/utils/theme.ts
Due: prettier, eslint

feat: add lifecycle shutdown logic for app trackers and syncing implementations
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/sync_service.rs
  apps/desktop/src-tauri/src/trackers/window_tracker.rs
  apps/desktop/src-tauri/src/tracking_service.rs
  apps/desktop/src-tauri/src/ui/menu.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/components/AppShutdownDialog.tsx
  apps/server/src/error.rs
  crates/db/src/error.rs
Due: prettier, eslint

chore: update desktop app to v0.1.18
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

docs: update desktop app changelog for v0.1.18
  apps/desktop/CHANGELOG.md
Due: prettier

Release (#64)
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

fix: wire in relaunch logic into shutdown cycle
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src/components/updater/UpdaterToast.tsx
  apps/desktop/src/types/tauri.gen.ts
  yarn.lock
Due: prettier, eslint

feat: add ActiveAfkChartWidget and integrate into dashboard view
  apps/desktop/src/extensions/dashboard-view/hooks/usePersistentLayout.ts
  apps/desktop/src/extensions/dashboard-view/index.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/ActiveAfkChartWidget.tsx
Due: prettier, eslint

feat: enhance ActiveAfkChartWidget with date range management and optimize daily bucket calculations
  apps/desktop/src/extensions/dashboard-view/index.tsx
  apps/desktop/src/extensions/dashboard-view/stores/useDashboardFilter.ts
  apps/desktop/src/extensions/dashboard-view/widgets/ActiveAfkChartWidget.tsx
  apps/desktop/src/utils/time.ts
Due: prettier, eslint

feat: implement bucketed AFK summary fetching and integrate into dashboard
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/network/afk_events.rs
  apps/desktop/src/extensions/dashboard-view/helpers/summaryBuckets.ts
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
  apps/desktop/src/extensions/dashboard-view/index.tsx
  apps/desktop/src/extensions/dashboard-view/stores/useDashboardFilter.ts
  apps/desktop/src/extensions/dashboard-view/widgets/ActiveAfkChartWidget.tsx
  apps/desktop/src/types/tauri.gen.ts
  apps/desktop/src/utils/time.ts
  apps/server/src/routes/afk_events.rs
  crates/db/src/server/afk_events.rs
Due: prettier, eslint

chore: merge latest sqlx changes
  .sqlx/query-7e1b35fcf6f28a7d66b0afebd439f212194c0b88c35e39ca66d3e430f6eeffe2.json
  .sqlx/query-8b261c9bbab7781a96778fe897257a0afa51e05a0a2679f999cfd6ce6994a346.json
Due: none

feat: simplify summary bucket logic and update ActiveAfkChartWidget to use 'Days' as bucket label
  apps/desktop/src/extensions/dashboard-view/helpers/summaryBuckets.ts
  apps/desktop/src/extensions/dashboard-view/widgets/ActiveAfkChartWidget.tsx
Due: prettier, eslint

feat: enhance summary data handling with improved bucket logic and date range adjustments
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
  apps/desktop/src/utils/time.ts
Due: prettier, eslint

feat: add specific colors for active and AFK stacks
  apps/desktop/src/components/StackedBarChart.tsx
  apps/desktop/src/extensions/dashboard-view/widgets/ActiveAfkChartWidget.tsx
Due: prettier, eslint

fix: set custom range param values when switching to a custom range
  apps/desktop/src/hooks/useDateRangesParams.ts
Due: prettier, eslint

fix: appropriately theme the calendar component
  packages/ui/dist/global.css
  packages/ui/src/components/calendar.tsx
Due: prettier, eslint

fix: use compact modal width when custom range is not selected
  apps/desktop/src/components/RangeSelectionDialog.tsx
Due: prettier, eslint

fix: correct validation message for date range selection
  apps/desktop/src/components/RangeSelectionDialog.tsx
Due: prettier, eslint

fix: always mount chart container
  apps/desktop/src/components/StackedBarChart.tsx
Due: prettier, eslint

refactor: adjust max height and width tailwind names for chart data display
  apps/desktop/src/components/CustomPieChart.tsx
Due: prettier, eslint

feat: enhance MatrixLoading component with responsive sizing and element size hook
  apps/desktop/src/components/loading/MatrixLoading.tsx
  apps/desktop/src/hooks/useElementSize.ts
Due: prettier, eslint

fix: continue playing animation even as the window is resized
  apps/desktop/src/components/loading/MatrixLoading.tsx
Due: prettier, eslint

feat: add clustering options to Timeline component and clean up debug logs
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
Due: prettier, eslint

chore: update desktop app to v0.1.19
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

docs: update desktop changelog for v0.1.19
  apps/desktop/CHANGELOG.md
Due: prettier

chore: update server app to v0.1.13
  Cargo.lock
  apps/server/Cargo.toml
Due: none

docs: update server changelog for v0.1.13
  apps/server/CHANGELOG.md
Due: prettier

Release (#66)
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier

fix: adjust traffic light position
  apps/desktop/src-tauri/src/ui/window.rs
Due: none

feat: add Microsoft Edge variants to monitored applications
  apps/desktop/src-tauri/src/monitored_app.rs
Due: none
