Repository Skopio-app/skopio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  # Typescript format
  - repo: local
    hooks:
      - id: prettier
        name: Prettier Formatter
        entry: npx prettier --write
        language: node
        types_or: [javascript, jsx, tsx, ts, css, json, markdown, yaml, html]
        exclude: ^(\.sqlx/|.*\/dist\/)

  # Rust format
  - repo: local
    hooks:
      - id: rustfmt
        name: Rust Formatter
        description: Format rust files within workspace
        entry: cargo fmt --all
        language: system
        pass_filenames: false

  # Rust linting (Clippy)
  - repo: local
    hooks:
      - id: clippy
        name: Rust Linter (Clippy)
        description: Check for warnings and best practices
        entry: cargo clippy -- -D warnings
        language: system
        pass_filenames: false

  # Typescript & JavaScript Linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint . --config apps/desktop/eslint.config.js
        language: node
        types_or: [javascript, jsx, tsx, ts]

feat: enhance hover effect in tooltip by tweaking opacity
  apps/desktop/src/components/StackedBarChart.tsx
Due: prettier, eslint

fix: prevent tooltip from glitching, and modify styling
  apps/desktop/src/components/StackedBarChart.tsx
  apps/desktop/src/hooks/useChartColor.ts
Due: prettier, eslint

feat: add app menu items for checking updates and preferences
  apps/desktop/src-tauri/src/ui/menu.rs
Due: none

feat: show update check in progress and inform user on check completion
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/capabilities/desktop.json
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/ui/menu.rs
  apps/desktop/src/components/updater/UpdaterToast.tsx
  yarn.lock
Due: prettier, eslint

chore: update desktop app to v0.1.16
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

docs: update changelog for v0.1.16 release
  apps/desktop/CHANGELOG.md
Due: prettier

Release (#61)
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

chore: update Rust deps
  Cargo.lock
  Cargo.toml
  crates/common/src/git.rs
Due: none

feat: hide scrollbar in dashboard layout
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/index.css
  apps/desktop/src/pages/TabExtensionHost.tsx
Due: prettier, eslint

feat: add in a subtle scrollbar css config
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/index.css
  apps/desktop/src/pages/TabExtensionHost.tsx
Due: prettier, eslint

fix: reorder scrollbar styles to bring back explicit hidden scrollbars
  apps/desktop/src/index.css
Due: prettier

fix: implement theme change event handling and external theme updates
  apps/desktop/src/components/settings/ThemeProvider.tsx
Due: prettier, eslint

feat: add subtle scrollbar to settings page
  apps/desktop/src/pages/SettingsPage.tsx
Due: prettier, eslint

fix: ensure body overflow and overscroll behavior are consistently hidden
  apps/desktop/src/index.css
Due: prettier

chore: update desktop app to v0.1.17
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

docs: update desktop changelog for v0.1.17
  apps/desktop/CHANGELOG.md
Due: prettier

docs: add in body overflow improvement comment
  apps/desktop/CHANGELOG.md
Due: prettier

style: update scrollbar styles for improved consistency in prod
  apps/desktop/src/index.css
Due: prettier

feat: add scrollbar debug utility
  apps/desktop/src/App.tsx
  apps/desktop/src/utils/scrollbarDebug.ts
Due: prettier, eslint

style: update scrollbar subtle thumb colors for improved visibility
  apps/desktop/src/index.css
  packages/ui/dist/global.css
Due: prettier

feat: implement scrollbar theme color synchronization and update styles
  apps/desktop/src/App.tsx
  apps/desktop/src/index.css
  apps/desktop/src/utils/scrollbarTheme.ts
Due: prettier, eslint

feat: add in custom subtle scroll area component
  apps/desktop/src/components/SubtleScrollArea.tsx
  apps/desktop/src/index.css
  apps/desktop/src/pages/SettingsPage.tsx
  apps/desktop/src/pages/TabExtensionHost.tsx
Due: prettier, eslint

chore: remove redundant code
  apps/desktop/src/App.tsx
  apps/desktop/src/components/SubtleScrollArea.tsx
  apps/desktop/src/index.css
  apps/desktop/src/utils/scrollbarDebug.ts
  apps/desktop/src/utils/scrollbarTheme.ts
Due: prettier, eslint

fix: correctly reference custom scroll area
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/pages/TabExtensionPage.tsx
Due: prettier, eslint

fix: move traffic light position for main and settings windows
  apps/desktop/src-tauri/src/ui/window.rs
Due: none

chore: add left padding to custom scroll thumb
  apps/desktop/src/components/SubtleScrollArea.tsx
Due: prettier, eslint

fix: restore traffic light position
  apps/desktop/src-tauri/src/ui/window.rs
Due: none

Release (#62)
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/components/SubtleScrollArea.tsx
  apps/desktop/src/index.css
  apps/desktop/src/pages/SettingsPage.tsx
  apps/desktop/src/pages/TabExtensionHost.tsx
  apps/desktop/src/pages/TabExtensionPage.tsx
  packages/ui/dist/global.css
Due: prettier, eslint

feat: add in a power tracker to keep track of when macOS sleeps or wakes
  Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/trackers/mod.rs
  apps/desktop/src-tauri/src/trackers/power_tracker.rs
Due: none

feat: make event and afk tracker subscribe to power monitor events
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/trackers/afk_tracker.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
Due: none

feat: wire in activity input helper to stream mouse and keyboard activity input
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/trackers/afk_tracker.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/trackers/input_activity.rs
  apps/desktop/src-tauri/src/trackers/keyboard_tracker.rs
  apps/desktop/src-tauri/src/trackers/mod.rs
  apps/desktop/src-tauri/src/trackers/mouse_tracker.rs
  apps/desktop/src-tauri/src/trackers/power_monitor.rs
Due: none

chore: capture extra keyboard and mouse event info
  apps/desktop/src-tauri/src/trackers/input_activity.rs
  apps/desktop/src-tauri/src/trackers/keyboard_tracker.rs
  apps/desktop/src-tauri/src/trackers/mouse_tracker.rs
Due: none

feat: capture scroll wheel events
  apps/desktop/src-tauri/src/trackers/input_activity.rs
  apps/desktop/src-tauri/src/trackers/mouse_tracker.rs
Due: none

chore: remove redundant variables
  apps/desktop/src-tauri/src/trackers/mouse_tracker.rs
Due: none

chore: refactor autoreleasepool usage in power monitor
  apps/desktop/src-tauri/src/trackers/power_monitor.rs
Due: none

feat: add script to generate matrix frames from video or GIF input
  apps/desktop/package.json
  apps/desktop/src-tauri/src/utils/config.rs
  apps/desktop/src/components/loading/BorderBeam.tsx
  apps/desktop/src/components/loading/LoadingPage.tsx
  apps/desktop/src/components/loading/MatrixLoading.tsx
  apps/desktop/src/components/loading/SkeletonChart.tsx
  apps/desktop/src/components/loading/matrix/generatedFrames.ts
  scripts/generate_matrix_frames.mjs
Due: prettier, eslint

feat: make the matrix component resizable
  apps/desktop/src/components/loading/LoadingPage.tsx
  apps/desktop/src/components/loading/MatrixLoading.tsx
  apps/desktop/src/components/loading/matrix/generatedFrames.ts
Due: prettier, eslint

chore: remove redundant loading text
  apps/desktop/src/components/loading/LoadingPage.tsx
  apps/desktop/src/components/loading/MatrixLoading.tsx
  apps/desktop/src/components/loading/matrix/generatedFrames.ts
Due: prettier, eslint

chore: use newer rolldown option
  apps/desktop/vite.config.ts
Due: prettier, eslint
