Repository Skopio-app/skopio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: Prettier Formatter
  entry: npx prettier --write
  language: node

eslint:
  name: ESLint
  entry: npx eslint . --config apps/desktop/eslint.config.js
  language: node

refactor: add monitored app bundle id helpers
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/utils/ax/cache.rs
  apps/desktop/src-tauri/src/utils/ax/provider.rs
  apps/desktop/src-tauri/tests/ax_snapshot_cache_tests.rs
Due: none

chore: add vscode variants to ignore list
  apps/desktop/src-tauri/src/monitored_app.rs
Due: none

fix: update chip selector dropdown dark mode border style
  packages/ui/dist/global.css
  packages/ui/src/components/chip-selector.tsx
Due: prettier, eslint

fix: add range dialog close button dark mode styling
  apps/desktop/src/components/RangeSelectionDialog.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalDeleteConfirmDialog.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalDialog.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalTitleDialog.tsx
Due: prettier, eslint

chore: update desktop app to v0.1.5
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

docs: update desktop changelog for release
  apps/desktop/CHANGELOG.md
Due: prettier

ci: remove redundant release selector workflow
  .github/workflows/release-selector.yml
Due: prettier

release (#38)
  .github/workflows/release-selector.yml
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

chore: modify updater toast border styling
  apps/desktop/src/components/updater/UpdaterToast.tsx
Due: prettier, eslint

refactor: add truncate value helper to stacked bar chart tooltip
  apps/desktop/src/components/StackedBarChart.tsx
Due: prettier, eslint

chore: remove redundant lock file
  package-lock.json
Due: prettier

chore: update react to v19
  package.json
  packages/ui/package.json
  yarn.lock
Due: prettier

feat: add server readiness check
  apps/desktop/src-tauri/src/server.rs
  apps/server/src/routes/health.rs
  crates/common/src/models/outputs.rs
Due: none

chore: update button styling
  packages/ui/dist/global.css
  packages/ui/src/components/button.tsx
Due: prettier, eslint

fix: remove react errors
  apps/desktop/package.json
  package.json
  packages/ui/dist/global.css
  packages/ui/package.json
  packages/ui/src/components/card.tsx
  packages/ui/src/components/input.tsx
  yarn.lock
Due: prettier, eslint

chore: update dev dependencies + fix lint warnings
  apps/desktop/package.json
  apps/desktop/src/components/ChartTooltipPortal.tsx
  apps/desktop/src/components/NotificationPanel.tsx
  apps/desktop/src/components/RedirectToTab.tsx
  apps/desktop/src/components/SkeletonChart.tsx
  apps/desktop/src/components/StackedBarChart.tsx
  apps/desktop/src/components/settings/PermissionsDialog.tsx
  apps/desktop/src/components/settings/ThemeProvider.tsx
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalDialog.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalTitleDialog.tsx
  apps/desktop/src/extensions/goals-view/components/GoalDisplay.tsx
  apps/desktop/src/extensions/goals-view/index.tsx
  apps/desktop/src/extensions/projects-view/components/BranchSelectionDialog.tsx
  apps/desktop/src/extensions/projects-view/index.tsx
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
  apps/desktop/src/hooks/useDateRangesParams.ts
  apps/desktop/src/hooks/useGlobalShortcut.ts
  packages/ui/src/components/button.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/toggle.tsx
  yarn.lock
Due: prettier, eslint

fix: display button text clearly when in dark mode
  apps/desktop/package.json
  packages/ui/dist/global.css
  packages/ui/src/components/button.tsx
  yarn.lock
Due: prettier, eslint

refactor: migrate to defineConfig
  apps/desktop/eslint.config.js
Due: prettier, eslint

chore: add react query deps to project
  apps/desktop/eslint.config.js
  apps/desktop/package.json
  apps/desktop/src/App.tsx
  yarn.lock
Due: prettier, eslint

refactor: switch to useQuery hook to fetch project details data
  apps/desktop/src/extensions/projects-view/hooks/useProjectSummaryData.ts
Due: prettier, eslint

refactor: switch bucketed time logic to useQuery logic
  apps/desktop/src/extensions/projects-view/hooks/useTotalBucketedTime.ts
Due: prettier, eslint

fix: derive groupBy option from components for project summary
  apps/desktop/src/extensions/projects-view/components/sections/AppPieChartSection.tsx
  apps/desktop/src/extensions/projects-view/components/sections/BranchList.tsx
  apps/desktop/src/extensions/projects-view/components/sections/CategoryChartSection.tsx
  apps/desktop/src/extensions/projects-view/components/sections/CirclePackingChartSection.tsx
  apps/desktop/src/extensions/projects-view/components/sections/EntityList.tsx
  apps/desktop/src/extensions/projects-view/components/sections/LanguagePieChartSection.tsx
  apps/desktop/src/extensions/projects-view/hooks/useTotalBucketedTime.ts
Due: prettier, eslint

refactor: remove unused projectInput
  apps/desktop/src/extensions/projects-view/hooks/useTotalBucketedTime.ts
Due: prettier, eslint

refactor: update QueryClient configuration and optimize project fetching logic
  apps/desktop/src/App.tsx
  apps/desktop/src/extensions/projects-view/hooks/useProjectSummaryData.ts
  apps/desktop/src/extensions/projects-view/hooks/useTotalBucketedTime.ts
  apps/desktop/src/extensions/projects-view/index.tsx
  packages/ui/dist/global.css
  packages/ui/src/components/input.tsx
Due: prettier, eslint

refactor: replace useEventFetcher with useEventSummary for improved event fetching logic
  apps/desktop/src/extensions/timeline-view/hooks/useEventFetcher.ts
  apps/desktop/src/extensions/timeline-view/hooks/useEventSummary.ts
  apps/desktop/src/extensions/timeline-view/index.tsx
Due: prettier, eslint

refactor: simplify data fetching logic by integrating useQuery
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
Due: prettier, eslint

refactor: streamline useTotalTime hook by replacing state management with useQuery
  apps/desktop/src/extensions/dashboard-view/hooks/useTotalTime.ts
Due: prettier, eslint

refactor: replace goal display state management with useQuery
  apps/desktop/src/extensions/goals-view/components/GoalDisplay.tsx
  apps/desktop/src/extensions/projects-view/hooks/useProjectSummaryData.ts
  apps/desktop/src/extensions/projects-view/hooks/useTotalBucketedTime.ts
Due: prettier, eslint

refactor: enhance useTopNInsights with useQuery for improved data fetching
  apps/desktop/src/extensions/insights-view/hooks/useInsightsData.ts
  apps/desktop/src/extensions/projects-view/hooks/useProjectSummaryData.ts
Due: prettier, eslint

refactor: replace state management with useQuery in AverageDaySection for improved data fetching
  apps/desktop/src/extensions/insights-view/components/ActivitySection.tsx
  apps/desktop/src/extensions/insights-view/components/AverageDaySection.tsx
Due: prettier, eslint

refactor: replace state management with useQuery in MostActiveDaySection for improved data fetching
  apps/desktop/src/extensions/insights-view/components/ActivitySection.tsx
  apps/desktop/src/extensions/insights-view/components/AverageDaySection.tsx
  apps/desktop/src/extensions/insights-view/components/MostActiveDaySection.tsx
Due: prettier, eslint

refactor: switch to useQuery in most active day section
  apps/desktop/src/extensions/insights-view/components/MostActiveDaySection.tsx
  apps/desktop/src/extensions/insights-view/components/TotalTimeSection.tsx
  apps/desktop/src/types/tauri.gen.ts
  crates/common/src/models/outputs.rs
Due: prettier, eslint

fix: add dark mode text styling to input
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
  apps/desktop/src/extensions/insights-view/components/MostActiveDaySection.tsx
  apps/desktop/src/types/tauri.gen.ts
  crates/common/src/models/outputs.rs
  packages/ui/dist/global.css
  packages/ui/src/components/input.tsx
Due: prettier, eslint

refactor: switch to useQuery for fetching active years
  apps/desktop/src/extensions/dashboard-view/hooks/useSummaryData.ts
  apps/desktop/src/extensions/dashboard-view/hooks/useTotalTime.ts
  apps/desktop/src/extensions/goals-view/components/GoalDisplay.tsx
  apps/desktop/src/extensions/insights-view/components/ActivitySection.tsx
  apps/desktop/src/extensions/insights-view/components/AverageDaySection.tsx
  apps/desktop/src/extensions/insights-view/components/MostActiveDaySection.tsx
  apps/desktop/src/extensions/insights-view/components/TotalTimeSection.tsx
  apps/desktop/src/extensions/insights-view/hooks/useInsightsData.ts
  apps/desktop/src/extensions/insights-view/index.tsx
  apps/desktop/src/extensions/insights-view/stores/useYearFilter.ts
  apps/desktop/src/extensions/projects-view/hooks/useProjectSummaryData.ts
  apps/desktop/src/extensions/projects-view/hooks/useTotalBucketedTime.ts
  apps/desktop/src/extensions/projects-view/index.tsx
  apps/desktop/src/extensions/timeline-view/hooks/useEventSummary.ts
Due: prettier, eslint

refactor: replace state management with useQuery in useOpenApps for improved data fetching
  apps/desktop/src/hooks/useOpenApps.ts
Due: prettier, eslint

feat: add border beam loading component
  apps/desktop/src/App.tsx
  apps/desktop/src/components/BorderBeam.tsx
  apps/desktop/src/extensions/dashboard-view/index.tsx
  apps/desktop/src/index.css
Due: prettier, eslint

feat: add matrix ui component
  apps/desktop/src/components/BorderBeam.tsx
  packages/ui/dist/global.css
  packages/ui/src/components/matrix.tsx
Due: prettier, eslint

feat: add DinoLoading component
  apps/desktop/src/App.tsx
  apps/desktop/src/components/DinoLoading.tsx
  packages/ui/src/index.ts
Due: prettier, eslint

feat: enhance server loading experience
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/components/DinoLoading.tsx
  apps/desktop/src/components/RedirectToTab.tsx
  apps/desktop/src/components/loading/BorderBeam.tsx
  apps/desktop/src/components/loading/DinoLoading.tsx
  apps/desktop/src/components/loading/LoadingPage.tsx
  apps/desktop/src/components/loading/SkeletonChart.tsx
  apps/desktop/src/extensions/dashboard-view/components/WidgetCard.tsx
  apps/desktop/src/extensions/goals-view/components/GoalChartCard.tsx
  apps/desktop/src/extensions/insights-view/components/SectionContainer.tsx
  apps/desktop/src/extensions/projects-view/components/ChartContainer.tsx
  apps/desktop/src/extensions/timeline-view/index.tsx
  packages/ui/dist/global.css
  packages/ui/src/components/skeleton.tsx
Due: prettier, eslint

fix: improve server readiness checks and error handling
  apps/desktop/src-tauri/src/server.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/hooks/useServerStatus.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.tsx$, \.(ts|mts|cts)$, \.css$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.(html|htm|xhtml)$, but not: ^(\.sqlx/|.*\/dist\/)
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.tsx$, \.(ts|mts|cts)$
