Repository Skopio-app/skopio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  # Typescript format
  - repo: local
    hooks:
      - id: prettier
        name: Prettier Formatter
        entry: npx prettier --write
        language: node
        types_or: [javascript, jsx, tsx, ts, css, json, markdown, yaml, html]
        exclude: ^(\.sqlx/|.*\/dist\/)

  # Rust format
  - repo: local
    hooks:
      - id: rustfmt
        name: Rust Formatter
        description: Format rust files within workspace
        entry: cargo fmt --all
        language: system
        pass_filenames: false

  # Rust linting (Clippy)
  - repo: local
    hooks:
      - id: clippy
        name: Rust Linter (Clippy)
        description: Check for warnings and best practices
        entry: cargo clippy -- -D warnings
        language: system
        pass_filenames: false

  # Typescript & JavaScript Linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint . --config apps/desktop/eslint.config.js
        language: node
        types_or: [javascript, jsx, tsx, ts]

refactor: remove redundant window reload in server readiness check
  apps/desktop/src-tauri/src/server.rs
Due: none

refactor: add helper trait to server manager
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/server.rs
Due: none

fix: add border to dialog content in BranchSelectionDialog
  apps/desktop/src/extensions/projects-view/components/BranchSelectionDialog.tsx
Due: prettier, eslint

docs update version to server app v0.1.4
  Cargo.lock
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier

docs: update desktop version to v0.1.6
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

release (#40)
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier

fix: adjust dino loading configuration for improved animation
  apps/desktop/src/components/loading/BorderBeam.tsx
  apps/desktop/src/components/loading/DinoLoading.tsx
Due: prettier, eslint

fix: update styles for horizontal rule and progress bar in UpdaterToast
  apps/desktop/src/components/loading/DinoLoading.tsx
  apps/desktop/src/components/updater/UpdaterToast.tsx
Due: prettier, eslint

fix: add custom styled resize handle to dashboard widgets
  apps/desktop/src/extensions/dashboard-view/index.tsx
Due: prettier, eslint

feat: add Zen and Helium to monitored applications
  apps/desktop/src-tauri/src/monitored_app.rs
Due: none

chore: prevent white splash on back project details back navigation
  apps/desktop/src-tauri/src/server.rs
  apps/desktop/src/extensions/projects-view/ProjectDetails.tsx
  apps/desktop/src/extensions/projects-view/hooks/useProjectSummaryData.ts
Due: prettier, eslint

chore: add chatgpt atlas to browser list
  apps/desktop/src-tauri/src/monitored_app.rs
Due: none

chore: add support for comet browser
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src-tauri/src/trackers/window_tracker.rs
Due: none

chore: remove comment
  apps/desktop/src/components/loading/DinoLoading.tsx
Due: prettier, eslint

refactor: switch to query builder for constructing dynamic queries
  crates/db/src/server/events.rs
  crates/db/src/server/summary.rs
  crates/db/src/server/utils/query.rs
Due: none

fix: calculate overlap when computing total time for a range
  crates/db/src/server/summary.rs
  crates/db/src/server/utils/query.rs
Due: none

fix: add overlap aware logic to bucket summary function
  crates/db/src/server/summary.rs
Due: none

fix: add bucket step helpers
  crates/db/src/server/summary.rs
  crates/db/src/server/utils/query.rs
Due: none

refactor: add query helpers to QueryBuilder trait
  crates/db/src/server/events.rs
  crates/db/src/server/summary.rs
  crates/db/src/server/utils/query.rs
Due: none

refactor: reuse logic with query helper functions
  crates/db/src/server/summary.rs
  crates/db/src/server/utils/query.rs
Due: none

refactor: add bucket label helper to query builder trait
  crates/db/src/server/summary.rs
  crates/db/src/server/utils/query.rs
Due: none

test: add bucket step and group key info tests
  crates/db/src/server/utils/query.rs
Due: none

test: add overlap test
  Cargo.lock
  crates/db/Cargo.toml
  crates/db/tests/helpers.rs
  crates/db/tests/overlap_total.rs
Due: none

test: add more query helper tests
  crates/db/src/server/utils/query.rs
Due: none

test: add more overlap tests
  crates/db/tests/overlap_total.rs
Due: none

fix: watch afk state from event tracker instead of within window change receiver
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/trackers/afk_tracker.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/trackers/mouse_tracker.rs
Due: none

refactor: add afk state sender helper
  apps/desktop/src-tauri/src/trackers/afk_tracker.rs
Due: none

docs: update desktop changelog
  apps/desktop/CHANGELOG.md
Due: prettier

chore: update desktop app to v0.1.7
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

docs: update server app changelog
  apps/server/CHANGELOG.md
Due: prettier

chore: update server app to v0.1.5
  Cargo.lock
  apps/server/Cargo.toml
Due: none

release (#42)
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier

chore: update rust deps
  Cargo.lock
  Cargo.toml
Due: none

chore: update tauri and objc deps
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/trackers/keyboard_tracker.rs
  apps/desktop/src-tauri/src/trackers/mouse_tracker.rs
  yarn.lock
Due: prettier

chore: update tauri and rust deps
  Cargo.lock
  Cargo.toml
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  yarn.lock
Due: prettier

chore: WIP summary query fix
  crates/db/src/server/summary.rs
Due: none

fix: optimize summary query range handling
  crates/db/src/server/summary.rs
  crates/db/src/server/utils/query.rs
Due: none

fix: clamp overlap function at zero
  crates/db/src/server/utils/query.rs
Due: none

chore: make condition check for lowercase characters
  crates/db/src/server/utils/query.rs
Due: none

docs: update server app version to 0.1.6
  Cargo.lock
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier
