Repository Skopio-app/skopio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  # Typescript format
  - repo: local
    hooks:
      - id: prettier
        name: Prettier Formatter
        entry: npx prettier --write
        language: node
        types_or: [javascript, jsx, tsx, ts, css, json, markdown, yaml, html]
        exclude: ^\.sqlx/

  # Rust format
  - repo: local
    hooks:
      - id: rustfmt
        name: Rust Formatter
        description: Format rust files within workspace
        entry: cargo fmt --all
        language: system
        pass_filenames: false

  # Rust linting (Clippy)
  - repo: local
    hooks:
      - id: clippy
        name: Rust Linter (Clippy)
        description: Check for warnings and best practices
        entry: cargo clippy -- -D warnings -A clippy::style
        language: system
        pass_filenames: false

  # Typescript & JavaScript Linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint . --config apps/desktop/eslint.config.js
        language: node
        types_or: [javascript, jsx, tsx, ts]

test: fix failing test
  apps/cli/src/config.rs
Due: none

refactor: configure and store db from passed db directory
  apps/cli/src/cli.rs
  apps/cli/src/config.rs
  apps/cli/src/main.rs
  apps/cli/src/utils.rs
Due: none

ci: add CLI release build workflow
  .github/actions/setup-env/action.yml
  .github/workflows/cli-release.yml
  .github/workflows/unit-test.yml
  Cargo.lock
  apps/cli/Cargo.toml
  apps/cli/src/cli.rs
  apps/cli/src/db.rs
Due: prettier

chore: add release build optimizations
  Cargo.toml
Due: none

fix: revert checkout action change
  .github/actions/setup-env/action.yml
  .github/workflows/cli-release.yml
  .github/workflows/unit-test.yml
Due: prettier

ci: switch to macos-latest runner for faster build and test times
  .github/workflows/unit-test.yml
Due: prettier

chore: modify log level for release builds
  apps/cli/src/event.rs
  apps/cli/src/main.rs
  apps/cli/src/utils.rs
Due: none

ci: modify release workflow to build cli binaries for different worflows in a single run
  .github/workflows/cli-release.yml
Due: prettier

ci: point zip step to workspace target dir
  .github/workflows/cli-release.yml
Due: prettier

ci: fix asset naming issue
  .github/workflows/cli-release.yml
Due: prettier

ci: rename binaries and write checksums txt file
  .github/workflows/cli-release.yml
Due: prettier

docs: add changelog file to keep track of notable changes to CLI
  apps/cli/CHANGELOG.md
Due: prettier

ci: extract release notes from CHANGELOG.md
  .github/workflows/cli-release.yml
Due: prettier

ci: fix notes absolute path
  .github/workflows/cli-release.yml
Due: prettier

ci: add title to release notes and check for pre-release versions
  .github/workflows/cli-release.yml
Due: prettier

ci: fix title addition for release notes
  .github/workflows/cli-release.yml
Due: prettier

chore: replace app icon
  apps/desktop/src-tauri/icons/128x128.png
  apps/desktop/src-tauri/icons/128x128@2x.png
  apps/desktop/src-tauri/icons/32x32.png
  apps/desktop/src-tauri/icons/Square107x107Logo.png
  apps/desktop/src-tauri/icons/Square142x142Logo.png
  apps/desktop/src-tauri/icons/Square150x150Logo.png
  apps/desktop/src-tauri/icons/Square284x284Logo.png
  apps/desktop/src-tauri/icons/Square30x30Logo.png
  apps/desktop/src-tauri/icons/Square310x310Logo.png
  apps/desktop/src-tauri/icons/Square44x44Logo.png
  apps/desktop/src-tauri/icons/Square71x71Logo.png
  apps/desktop/src-tauri/icons/Square89x89Logo.png
  apps/desktop/src-tauri/icons/StoreLogo.png
  apps/desktop/src-tauri/icons/icon.icns
  apps/desktop/src-tauri/icons/icon.ico
  apps/desktop/src-tauri/icons/icon.png
Due: none

test: fix failing synced data test
  apps/cli/src/sync.rs
Due: none

test: add missing comma
  apps/cli/src/sync.rs
Due: none

feat: fliter by source in timeline view
  apps/desktop/src/extensions/timeline-view/index.tsx
  apps/desktop/src/types/tauri.gen.ts
Due: prettier, eslint

fix: prevent server from storing empty project and branch names
  apps/desktop/src/extensions/projects-view/ProjectDetails.tsx
  apps/server/src/routes/events.rs
  apps/server/src/routes/heartbeats.rs
  crates/db/src/server/branches.rs
  crates/db/src/server/languages.rs
Due: prettier, eslint

chore: change app name
  Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
Due: none

fix: modify project search function to work with new fts table
  .sqlx/query-568fe2b8cb66fbfab20aa78c1514e42622194c340e839f91ddcb61abe71c0f61.json
  .sqlx/query-c4a802b40c709bbc36c5d58fe069048a01587cd94f413722f1dcbc2b61829ebc.json
  crates/db/migrations/server/20250416111829_initial_server_schema.sql
  crates/db/src/server/projects.rs
Due: none

chore: remove redundant code
  apps/desktop/src/extensions/projects-view/ProjectDetails.tsx
  apps/desktop/src/extensions/timeline-view/hooks/useEventFetcher.ts
  crates/db/src/server/projects.rs
Due: prettier, eslint

ci: modify workflow to codesign and notarize CLI
  .github/workflows/cli-release.yml
  apps/server/src/routes/events.rs
Due: prettier

chore: update CLI version
  Cargo.lock
  apps/cli/CHANGELOG.md
  apps/cli/Cargo.toml
Due: prettier

ci: fix invalid argument
  .github/workflows/cli-release.yml
Due: prettier

ci: fix typo
  .github/workflows/cli-release.yml
Due: prettier

ci: modify apple signing step
  .github/workflows/cli-release.yml
Due: prettier

ci: update credentials
  .github/workflows/cli-release.yml
Due: prettier

ci: update notarization step
  .github/workflows/cli-release.yml
Due: prettier

ci: modify notarization step
  .github/workflows/cli-release.yml
Due: prettier

ci: update zip and notarization step
  .github/workflows/cli-release.yml
Due: prettier

ci: remove stapling step
  .github/workflows/cli-release.yml
Due: prettier

cI: clean up workflow
  .github/workflows/cli-release.yml
Due: prettier

ci: fix path issue
  .github/workflows/cli-release.yml
Due: prettier

ci: remove workflow dispatch step
  .github/workflows/cli-release.yml
Due: prettier

chore: update CLI version (#20)
  .github/workflows/cli-release.yml
  Cargo.lock
  apps/cli/CHANGELOG.md
  apps/cli/Cargo.toml
Due: prettier

refactor: add file name config for dev and prod environments
  apps/desktop/src-tauri/src/helpers/config.rs
  apps/desktop/src-tauri/src/helpers/db.rs
  apps/server/src/main.rs
  apps/server/src/routes/insights.rs
  apps/server/src/utils.rs
  crates/common/src/time/insight.rs
  crates/common/src/time/mod.rs
  crates/db/src/server/insights.rs
Due: none
