Repository Skopio-app/skopio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: Prettier Formatter
  entry: npx prettier --write
  language: node

eslint:
  name: ESLint
  entry: npx eslint . --config apps/desktop/eslint.config.js
  language: node

fix: unzip binary after downloading asset
  Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/server.rs
Due: none

release (#24)
  .github/workflows/cli-release.yml
  .github/workflows/release-selector.yml
  .github/workflows/server-release.yml
  Cargo.lock
  Cargo.toml
  apps/cli/src/utils.rs
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/network/summaries.rs
  apps/desktop/src-tauri/src/server.rs
  apps/desktop/src-tauri/src/ui/tray.rs
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/hooks/useServerStatus.ts
  apps/desktop/src/types/tauri.gen.ts
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
  apps/server/README.md
  apps/server/src/main.rs
  apps/server/src/routes/projects.rs
  apps/server/src/routes/summary.rs
  apps/server/src/utils.rs
  crates/common/Cargo.toml
  crates/db/src/connection.rs
Due: prettier, eslint

chore: remove redundant code
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/server.rs
  apps/server/src/auth.rs
  apps/server/src/main.rs
  yarn.lock
Due: prettier

refactor: switch to tracing from tauri-plugin-log
  Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/goals_service.rs
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/sync_service.rs
  apps/desktop/src-tauri/src/trackers/afk_tracker.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/trackers/keyboard_tracker.rs
  apps/desktop/src-tauri/src/trackers/mouse_tracker.rs
  apps/desktop/src-tauri/src/trackers/window_tracker.rs
  apps/desktop/src-tauri/src/ui/tray.rs
  apps/desktop/src-tauri/src/ui/window.rs
  apps/desktop/src-tauri/src/utils/app.rs
  apps/desktop/src-tauri/src/utils/mod.rs
  apps/desktop/src-tauri/src/utils/tracing.rs
  apps/desktop/src/components/Dashboard.tsx
  apps/server/src/utils.rs
Due: prettier, eslint

chore: remove console-subscriber dependency
  .cargo/config.toml
  Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/ui/tray.rs
  apps/desktop/src-tauri/src/utils/tracing.rs
  apps/server/src/utils.rs
Due: none

fix: prevent entire settings page from scrolling and fix styling
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/extensions/dashboard-view/index.tsx
  apps/desktop/src/extensions/goals-view/components/GoalChartCard.tsx
  apps/desktop/src/extensions/goals-view/index.tsx
  apps/desktop/src/extensions/insights-view/index.tsx
  apps/desktop/src/extensions/projects-view/index.tsx
  apps/desktop/src/extensions/timeline-view/index.tsx
  apps/desktop/src/pages/SettingsPage.tsx
Due: prettier, eslint

ci: add desktop release workflow and supporting code
  .github/actions/setup-env/action.yml
  .github/workflows/cli-release.yml
  .github/workflows/desktop-release.yml
  .github/workflows/release-selector.yml
  .github/workflows/server-release.yml
  Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/capabilities/desktop.json
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

feat: add updater toast to show update progress
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src-tauri/capabilities/desktop.json
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/components/updater/UpdaterToast.tsx
  apps/desktop/src/extensions/projects-view/ProjectDetails.tsx
  apps/desktop/src/extensions/projects-view/components/CirclePackingChart.tsx
  apps/desktop/src/hooks/usePermissions.ts
  yarn.lock
Due: prettier, eslint

chore: fix up sidebar styling
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/extensions/insights-view/index.tsx
  apps/desktop/src/extensions/projects-view/components/ItemsList.tsx
  apps/desktop/src/extensions/projects-view/index.tsx
  packages/ui/src/components/hotkey.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/tsconfig.json
Due: prettier, eslint

fix: add truncation helper
  apps/desktop/src/extensions/projects-view/components/CirclePackingChart.tsx
  apps/desktop/src/extensions/projects-view/components/ItemsList.tsx
  apps/desktop/src/utils/data.ts
Due: prettier, eslint

docs: add README for desktop app
  apps/desktop/README.md
  screenshots/dashboard.png
  screenshots/goals.png
  screenshots/insights.png
  screenshots/project-details.png
  screenshots/projects.png
  screenshots/timeline.png
Due: prettier

docs: modify README and CHANGELOG for desktop app
  CONTRIBUTING.md
  README.md
  apps/desktop/CHANGELOG.md
  apps/desktop/README.md
Due: prettier

docs: modify server README
  apps/server/README.md
Due: prettier

fix: handle CirclePackingChart null values
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/extensions/projects-view/components/CirclePackingChart.tsx
  apps/desktop/src/extensions/projects-view/index.tsx
Due: prettier, eslint

feat: add error boundary and error page
  apps/desktop/src/main.tsx
  apps/desktop/src/routes/error.tsx
  apps/desktop/src/routes/index.tsx
Due: prettier, eslint

ci: fix changelog workflow step
  .github/workflows/desktop-release.yml
  Cargo.lock
  apps/desktop/src-tauri/src/ui/tray.rs
  crates/db/Cargo.toml
Due: prettier

ci: attempt yarn corepack fix
  .github/workflows/desktop-release.yml
Due: prettier

ci: setup corepack before node install
  .github/workflows/desktop-release.yml
Due: prettier

fix: switch to standard resolver from zod resolver
  apps/desktop/package.json
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalDialog.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalTitleDialog.tsx
  apps/desktop/src/extensions/projects-view/index.tsx
  packages/ui/package.json
  yarn.lock
Due: prettier, eslint

fix: remove devtools log
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/ui/window.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/types/tauri.gen.ts
Due: prettier, eslint

fix: add tauri script
  apps/desktop/package.json
Due: prettier

ci: add new signing identity sectet
  .github/workflows/desktop-release.yml
Due: prettier

ci: fix release version extraction
  .github/workflows/desktop-release.yml
Due: prettier

ci: infer app version automatically in action
  .github/workflows/desktop-release.yml
Due: prettier

fix: render changelog correctly within updater toast
  .github/workflows/desktop-release.yml
  apps/desktop/package.json
  apps/desktop/src/components/updater/UpdaterToast.tsx
  yarn.lock
Due: prettier, eslint

ci: remove yarn flag
  .github/workflows/desktop-release.yml
Due: prettier

release (#26)
  .github/workflows/desktop-release.yml
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/ui/tray.rs
  apps/desktop/src-tauri/src/ui/window.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/components/updater/UpdaterToast.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalDialog.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalTitleDialog.tsx
  apps/desktop/src/extensions/projects-view/components/CirclePackingChart.tsx
  apps/desktop/src/extensions/projects-view/index.tsx
  apps/desktop/src/main.tsx
  apps/desktop/src/routes/error.tsx
  apps/desktop/src/routes/index.tsx
  apps/desktop/src/types/tauri.gen.ts
  crates/db/Cargo.toml
  packages/ui/package.json
  yarn.lock
Due: prettier, eslint

fix: remove redundant db and config options
  apps/cli/src/cli.rs
  apps/cli/src/config.rs
  apps/cli/src/db.rs
  apps/cli/src/main.rs
  apps/cli/src/utils.rs
Due: none

refactor: switch out reqwest logic for shared client logic
  Cargo.lock
  apps/cli/Cargo.toml
  apps/cli/src/handlers/sync.rs
  apps/cli/src/main.rs
  apps/cli/src/sync.rs
  apps/cli/src/utils.rs
  apps/desktop/src-tauri/src/network/mod.rs
  crates/common/src/client.rs
Due: none

docs: update CHANGELOG to reflect new app version
  Cargo.lock
  apps/cli/CHANGELOG.md
  apps/cli/Cargo.toml
  apps/cli/src/sync.rs
  apps/cli/src/utils.rs
Due: prettier

fix: insert afk events and events via a batched transaction
  .sqlx/query-ed0f10ead64a8a1e2f3766ad6bd6ca9e1f0aabdc5e0847a227f0c842e29e80d6.json
  .sqlx/query-f02e30d7a8f4860636d3717cdd1e485d5471dd88c808b41e8555016f238653a0.json
  apps/cli/CHANGELOG.md
  apps/cli/src/sync.rs
  apps/desktop/src-tauri/src/server.rs
  apps/server/CHANGELOG.md
  apps/server/src/routes/afk_events.rs
  apps/server/src/routes/events.rs
  crates/db/src/server/afk_events.rs
  crates/db/src/server/events.rs
Due: prettier

chore: modify path display to display last two parts
  apps/desktop/src/utils/data.ts
Due: prettier, eslint

docs: add server code change to changelog
  apps/server/CHANGELOG.md
Due: prettier

chore: move error type to its own file
  apps/cli/src/db.rs
  apps/cli/src/error.rs
  apps/cli/src/event.rs
  apps/cli/src/handlers/event.rs
  apps/cli/src/handlers/sync.rs
  apps/cli/src/main.rs
  apps/cli/src/sync.rs
  apps/cli/src/utils.rs
  apps/server/src/error.rs
  crates/common/src/error.rs
Due: none

refactor: add config for dev and prod cli db name
  .pre-commit-config.yaml
  README.md
  apps/cli/src/db.rs
  apps/cli/src/sync.rs
  apps/cli/src/utils.rs
  apps/desktop/src-tauri/src/server.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/ui/window.rs
  apps/desktop/src-tauri/src/utils/time.rs
  apps/desktop/src-tauri/src/utils/tracing.rs
  apps/desktop/src/main.tsx
  apps/server/README.md
  apps/server/src/utils.rs
  crates/common/src/models/outputs.rs
  crates/common/src/time/insight.rs
  crates/db/src/desktop/goals.rs
  crates/db/src/server/branches.rs
  crates/db/src/server/events.rs
Due: prettier, eslint

chore: remove redundant code
  apps/cli/src/main.rs
  apps/desktop/src/components/updater/UpdaterToast.tsx
Due: prettier, eslint

docs: add steps to set up pre-commit hooks
  CONTRIBUTING.md
Due: prettier

chore: increment server version
  Cargo.lock
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier

docs: fix version naming
  apps/server/CHANGELOG.md
Due: prettier

release (#28)
  CONTRIBUTING.md
  Cargo.lock
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.tsx$, \.(ts|mts|cts)$, \.css$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.(html|htm|xhtml)$, but not: ^\.sqlx/
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.tsx$, \.(ts|mts|cts)$
