Repository Skopio-app/skopio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: Prettier Formatter
  entry: npx prettier --write
  language: node

eslint:
  name: ESLint
  entry: npx eslint . --config apps/desktop/eslint.config.js
  language: node

fix: retrieve paginated projects without repetition
  .sqlx/query-38e3b69f8b1f8ac8628b5618ccb3210168494a5afe3f311d0007a155d5f8a9cc.json
  .sqlx/query-4b4b42ba371123b6e69fae506eb8ff5d86fd6af3e5fb42efcdbf68b54be2e2ff.json
  .sqlx/query-a91d5fc73940c537042953bb0c13a0138087b4c5724b4a188046ee7bc30d9c9c.json
  .sqlx/query-b94340ff495a198647a80e8551501ec791ea02708c4fb2e718a332455387e957.json
  .sqlx/query-d5183c0e57548dfb3c6663b857efef486018ef7600bc61e83307b9a9fd3b46b9.json
  apps/desktop/src/extensions/projects-view/index.tsx
  apps/desktop/src/types/tauri.gen.ts
  apps/server/src/routes/projects.rs
  crates/common/src/models/inputs.rs
  crates/common/src/models/outputs.rs
  crates/db/src/server/projects/cursor.rs
  crates/db/src/server/projects/mod.rs
Due: prettier, eslint

refactor: remove redundant code
  apps/desktop/src/extensions/dashboard-view/helpers/delta.ts
  apps/desktop/src/extensions/projects-view/components/CirclePackingChart.tsx
Due: prettier, eslint

docs: update server README
  apps/desktop/src/extensions/registry.ts
  apps/server/README.md
Due: prettier, eslint

chore: remove redundant logic
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/network/summaries.rs
  apps/desktop/src/types/tauri.gen.ts
  apps/server/README.md
  apps/server/src/routes/summary.rs
  crates/db/src/models.rs
  crates/db/src/server/summary.rs
  crates/db/src/server/utils/query.rs
Due: prettier, eslint

docs: update server and desktop app versions
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier

chore: release app version 0.1.3 (#34)
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
  apps/server/CHANGELOG.md
  apps/server/Cargo.toml
Due: prettier

fix: modify reload shortcut to be cmd + r
  apps/desktop/src/App.tsx
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/utils/shortcut.ts
Due: prettier, eslint

feat: add appearance selector UI
  apps/desktop/src-tauri/src/utils/config.rs
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/types/tauri.gen.ts
Due: prettier, eslint

feat: add tauri theme logic
  apps/desktop/src-tauri/capabilities/default.json
  apps/desktop/src/components/settings/views/General.tsx
Due: prettier, eslint

feat: add theming helpers for css styles
  apps/desktop/src/App.tsx
  apps/desktop/src/components/settings/ThemeProvider.tsx
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/utils/theme.ts
Due: prettier, eslint

chore: modify styles for dark mode
  apps/desktop/src/components/CalendarChart.tsx
  apps/desktop/src/components/CustomPieChart.tsx
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/components/RangeSelectionDialog.tsx
  apps/desktop/src/components/StackedBarChart.tsx
  apps/desktop/src/extensions/dashboard-view/components/WidgetCard.tsx
  apps/desktop/src/extensions/dashboard-view/index.tsx
  apps/desktop/src/extensions/goals-view/components/BarLineChart.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalDeleteConfirmDialog.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalDialog.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalTitleDialog.tsx
  apps/desktop/src/extensions/goals-view/components/GoalChartCard.tsx
  apps/desktop/src/extensions/goals-view/index.tsx
  apps/desktop/src/extensions/insights-view/components/SectionContainer.tsx
  apps/desktop/src/extensions/insights-view/components/TextSectionItem.tsx
  apps/desktop/src/extensions/insights-view/index.tsx
  apps/desktop/src/extensions/projects-view/ProjectDetails.tsx
  apps/desktop/src/extensions/projects-view/components/BranchSelectionDialog.tsx
  apps/desktop/src/extensions/projects-view/components/CirclePackingChart.tsx
  apps/desktop/src/extensions/projects-view/components/ItemsList.tsx
  apps/desktop/src/extensions/projects-view/index.tsx
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
  apps/desktop/src/extensions/timeline-view/index.tsx
  packages/ui/dist/global.css
  packages/ui/src/components/button.tsx
  packages/ui/src/components/calendar.tsx
  packages/ui/src/components/label.tsx
  packages/ui/src/components/select.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/toggle.tsx
Due: prettier, eslint

chore: add dark mode styling to settings page
  apps/desktop/src/components/settings/PermissionCard.tsx
  apps/desktop/src/pages/SettingsPage.tsx
  packages/ui/src/components/chip-selector.tsx
Due: prettier, eslint

chore: dark mode styling fixes
  apps/desktop/src/extensions/projects-view/components/LineChart.tsx
  apps/desktop/src/extensions/projects-view/index.tsx
  packages/ui/src/components/skeleton.tsx
Due: prettier, eslint

feat: sync theme changes to all open windows
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/utils/config.rs
  apps/desktop/src/components/Dashboard.tsx
  apps/desktop/src/components/settings/ThemeProvider.tsx
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/extensions/dashboard-view/components/WidgetCard.tsx
  apps/desktop/src/types/tauri.gen.ts
  packages/ui/dist/global.css
Due: prettier, eslint

fix: remove redundant event logic
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/utils/config.rs
  apps/desktop/src/components/settings/ThemeProvider.tsx
  apps/desktop/src/types/tauri.gen.ts
Due: prettier, eslint

feat: add dark mode styling to charts
  apps/desktop/src/components/CalendarChart.tsx
  apps/desktop/src/components/CustomPieChart.tsx
  apps/desktop/src/components/StackedBarChart.tsx
  apps/desktop/src/extensions/goals-view/components/BarLineChart.tsx
  apps/desktop/src/extensions/projects-view/components/LineChart.tsx
  apps/desktop/src/hooks/useChartColor.ts
Due: prettier, eslint

chore: style borders
  apps/desktop/src/components/settings/PermissionCard.tsx
  apps/desktop/src/extensions/insights-view/components/SectionContainer.tsx
  apps/desktop/src/extensions/projects-view/index.tsx
  packages/ui/src/components/input.tsx
Due: prettier, eslint

feat: add dark mode config for timeline view
  apps/desktop/src/index.css
Due: prettier

chore: modify permission dialog styling
  apps/desktop/src/components/settings/PermissionsDialog.tsx
  apps/desktop/src/components/settings/ThemeProvider.tsx
Due: prettier, eslint

chore: modify dialog dark mode styling
  apps/desktop/src/components/settings/PermissionRow.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalDeleteConfirmDialog.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalDialog.tsx
  apps/desktop/src/extensions/goals-view/components/Dialogs/GoalTitleDialog.tsx
  apps/desktop/src/extensions/goals-view/components/GoalChartCard.tsx
  packages/ui/dist/global.css
  packages/ui/src/components/chip-selector.tsx
Due: prettier, eslint

fix: return a longer entity path when parsing data
  apps/desktop/src/utils/data.ts
Due: prettier, eslint

fix: adjust permission dialog styling
  apps/desktop/src/components/settings/PermissionsDialog.tsx
Due: prettier, eslint

chore: adjust tailwind styles
  packages/ui/dist/global.css
Due: none

docs: modify changelog for desktop app v0.1.4 release
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

chore: release desktop app v0.1.4 (#36)
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

fix: modify updater toast styling for dark mode
  apps/desktop/src/components/updater/UpdaterToast.tsx
Due: prettier, eslint

fix: modify pagination ellipsis dark mode styling
  apps/desktop/src/extensions/projects-view/index.tsx
  packages/ui/dist/global.css
  packages/ui/src/components/pagination.tsx
Due: prettier, eslint

feat: add accessibility tracker helpers to replace applescript logic
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src-tauri/src/trackers/ax/cache.rs
  apps/desktop/src-tauri/src/trackers/ax/ffi.rs
  apps/desktop/src-tauri/src/trackers/ax/mod.rs
  apps/desktop/src-tauri/src/trackers/ax/provider.rs
  apps/desktop/src-tauri/src/trackers/ax/types.rs
  apps/desktop/src-tauri/src/trackers/ax/util.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/trackers/mod.rs
  apps/desktop/src-tauri/src/utils/app.rs
  apps/desktop/src/components/CustomPieChart.tsx
  apps/desktop/src/extensions/dashboard-view/components/WidgetCard.tsx
Due: prettier, eslint

chore: add iterm to coding category
  apps/desktop/src-tauri/src/monitored_app.rs
Due: none

fix: detect xcode project
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src-tauri/src/trackers/ax/provider.rs
  apps/desktop/src-tauri/src/trackers/ax/types.rs
  apps/desktop/src-tauri/src/trackers/ax/util.rs
Due: none

fix: prevent saving empty browser info
  apps/desktop/src-tauri/src/trackers/ax/cache.rs
  apps/desktop/src-tauri/src/trackers/ax/provider.rs
  apps/desktop/src-tauri/src/trackers/ax/util.rs
Due: none

fix: handle single file being opened in xcode
  apps/desktop/src-tauri/src/trackers/ax/util.rs
Due: none

fix: reuse ax helpers in window tracker
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src-tauri/src/trackers/ax/ffi.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/trackers/mod.rs
  apps/desktop/src-tauri/src/trackers/window_tracker.rs
  apps/desktop/src-tauri/src/utils/ax/cache.rs
  apps/desktop/src-tauri/src/utils/ax/ffi.rs
  apps/desktop/src-tauri/src/utils/ax/mod.rs
  apps/desktop/src-tauri/src/utils/ax/provider.rs
  apps/desktop/src-tauri/src/utils/ax/types.rs
  apps/desktop/src-tauri/src/utils/ax/util.rs
  apps/desktop/src-tauri/src/utils/mod.rs
Due: none

fix: prevent xcode and browser events from saving empty project names and paths
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src-tauri/src/utils/ax/cache.rs
  apps/desktop/src-tauri/src/utils/ax/ffi.rs
Due: none

fix: add margin to pagination ellipsis
  packages/ui/dist/global.css
  packages/ui/src/components/pagination.tsx
Due: prettier, eslint

feat: use accessibility helpers to detect debug and compile states in xcode
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src-tauri/src/trackers/event_tracker.rs
  apps/desktop/src-tauri/src/trackers/window_tracker.rs
  apps/desktop/src-tauri/src/utils/app.rs
  apps/desktop/src-tauri/src/utils/ax/ffi.rs
  apps/desktop/src-tauri/src/utils/mod.rs
Due: none

fix: make window tracker source of truth when getting active app
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src-tauri/src/trackers/window_tracker.rs
  apps/desktop/src-tauri/src/utils/ax/cache.rs
  apps/desktop/src-tauri/src/utils/ax/ffi.rs
  apps/desktop/src-tauri/src/utils/ax/provider.rs
  apps/desktop/src-tauri/src/utils/ax/types.rs
Due: none

chore: remove redundant logging
  apps/desktop/src-tauri/src/utils/ax/cache.rs
Due: none

fix: prevent entities being saved for the wrong app
  apps/desktop/src-tauri/src/utils/ax/cache.rs
Due: none

test: add ax snapshot cache tests
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/monitored_app.rs
  apps/desktop/src-tauri/src/trackers/keyboard_tracker.rs
  apps/desktop/src-tauri/src/trackers/mouse_tracker.rs
  apps/desktop/src-tauri/src/trackers/window_tracker.rs
  apps/desktop/src-tauri/src/utils/ax/ffi.rs
  apps/desktop/src-tauri/tests/ax_snapshot_cache_tests.rs
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.tsx$, \.(ts|mts|cts)$, \.css$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.(html|htm|xhtml)$, but not: ^(\.sqlx/|.*\/dist\/)
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.tsx$, \.(ts|mts|cts)$
