Repository Skopio-app/skopio: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  # Typescript format
  - repo: local
    hooks:
      - id: prettier
        name: Prettier Formatter
        entry: npx prettier --write
        language: node
        types_or: [javascript, jsx, tsx, ts, css, json, markdown, yaml, html]
        exclude: ^(\.sqlx/|.*\/dist\/)

  # Rust format
  - repo: local
    hooks:
      - id: rustfmt
        name: Rust Formatter
        description: Format rust files within workspace
        entry: cargo fmt --all
        language: system
        pass_filenames: false

  # Rust linting (Clippy)
  - repo: local
    hooks:
      - id: clippy
        name: Rust Linter (Clippy)
        description: Check for warnings and best practices
        entry: cargo clippy -- -D warnings
        language: system
        pass_filenames: false

  # Typescript & JavaScript Linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint . --config apps/desktop/eslint.config.js
        language: node
        types_or: [javascript, jsx, tsx, ts]

docs: update CLI and desktop app changelogs for new release
  apps/cli/CHANGELOG.md
  apps/desktop/CHANGELOG.md
Due: prettier

chore: update CLI and desktop app versions
  Cargo.lock
  apps/cli/Cargo.toml
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

ci: update actions/checkout and swatinem/rust-cache versions
  .github/actions/setup-env/action.yml
  .github/workflows/cli-release.yml
  .github/workflows/desktop-release.yml
  .github/workflows/server-release.yml
  .github/workflows/unit-test.yml
Due: prettier

ci: update Node.js and Tauri action versions in desktop release workflow
  .github/workflows/desktop-release.yml
Due: prettier

release (#54)
  .github/actions/setup-env/action.yml
  .github/workflows/cli-release.yml
  .github/workflows/desktop-release.yml
  .github/workflows/server-release.yml
  .github/workflows/unit-test.yml
  Cargo.lock
  apps/cli/CHANGELOG.md
  apps/cli/Cargo.toml
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

chore: upgrade to vite 8+
  apps/desktop/package.json
  apps/desktop/tsconfig.app.json
  apps/desktop/vite.config.ts
  packages/ui/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier, eslint

fix: update minification method for debug builds in vite config
  apps/desktop/vite.config.ts
Due: prettier, eslint

fix: account for missing, invalid or empty version file when installing server
  apps/desktop/src-tauri/src/server.rs
Due: none

chore: update desktop app to v0.1.13
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

chore: update desktop app to v0.1.13 (#55)
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

feat: implement guided tour feature
  apps/desktop/package.json
  apps/desktop/src/App.tsx
  apps/desktop/src/components/settings/PermissionsDialog.tsx
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/extensions/dashboard-view/index.tsx
  apps/desktop/src/extensions/goals-view/index.tsx
  apps/desktop/src/extensions/insights-view/index.tsx
  apps/desktop/src/extensions/projects-view/index.tsx
  apps/desktop/src/extensions/timeline-view/index.tsx
  apps/desktop/src/utils/tour/TourContext.ts
  apps/desktop/src/utils/tour/TourProvider.tsx
  apps/desktop/src/utils/tour/TourSteps.ts
  yarn.lock
Due: prettier, eslint

chore: remove redundant walkthrough steps
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/extensions/projects-view/index.tsx
  apps/desktop/src/utils/tour/TourSteps.ts
Due: prettier, eslint

fix: ensure walkthrough still plays even when a window is already open
  apps/desktop/src/utils/tour/TourProvider.tsx
Due: prettier, eslint

chore: add afk sensitivity tour step
  apps/desktop/src/components/settings/views/General.tsx
  apps/desktop/src/utils/tour/TourProvider.tsx
  apps/desktop/src/utils/tour/TourSteps.ts
Due: prettier, eslint

chore: update app dependencies
  Cargo.lock
  Cargo.toml
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  yarn.lock
Due: prettier

chore: update desktop app to v0.1.14
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

docs: update desktop app changelog
  apps/desktop/CHANGELOG.md
Due: prettier

Release (#57)
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

fix: enhance date range handling with relative updates on visibility change
  apps/desktop/src/components/settings/ThemeProvider.tsx
  apps/desktop/src/hooks/useDateRangesParams.ts
  apps/desktop/src/hooks/usePermissions.ts
Due: prettier, eslint

fix: prevent timeline instance from being destroyed and recreated when changing a preset
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
Due: prettier, eslint

chore: update desktop app frontend deps
  apps/desktop/package.json
  package.json
  yarn.lock
Due: prettier

refactor: add in stacked bar chart from echarts
  apps/desktop/package.json
  apps/desktop/src/components/StackedBarChart.tsx
  yarn.lock
Due: prettier, eslint

chore: add defined border around stack item
  apps/desktop/src/components/StackedBarChart.tsx
  apps/desktop/src/extensions/insights-view/index.tsx
  yarn.lock
Due: prettier, eslint

fix: display stack order correctly when multiple bars are being displayed
  apps/desktop/src/components/StackedBarChart.tsx
Due: prettier, eslint

chore: add border radius to bar chart
  apps/desktop/src/components/StackedBarChart.tsx
Due: prettier, eslint

refactor: use appropriate tailwind height styling
  apps/desktop/src/extensions/goals-view/components/BarLineChart.tsx
  apps/desktop/src/extensions/projects-view/components/LineChart.tsx
Due: prettier, eslint

chore: update desktop app to v0.1.15
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

docs: update desktop app changelog for v0.1.15
  apps/desktop/CHANGELOG.md
Due: prettier

docs: update changelog for v0.1.15 to include timeline resolution fix
  apps/desktop/CHANGELOG.md
Due: prettier

Release (#59)
  Cargo.lock
  apps/desktop/CHANGELOG.md
  apps/desktop/package.json
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

fix: prevent tooltip content from clipping in the case of many values
  apps/desktop/src/components/StackedBarChart.tsx
Due: prettier, eslint

fix: prevent empty state from appearing when toggling preset
  apps/desktop/src/extensions/timeline-view/TimelineView.tsx
Due: prettier, eslint

feat: highlight tooltip item when relevant stack item is highlighted
  apps/desktop/src/components/StackedBarChart.tsx
Due: prettier, eslint

chore: update chart axis titles for consistency
  apps/desktop/src/components/StackedBarChart.tsx
  apps/desktop/src/extensions/projects-view/components/sections/CategoryChartSection.tsx
Due: prettier, eslint

refactor: adjust layout dimensions to use proper tailwind
  apps/desktop/src/components/CalendarChart.tsx
  apps/desktop/src/components/CustomPieChart.tsx
Due: prettier, eslint

fix: correct background color syntax in UpdaterToast component
  apps/desktop/src/components/updater/UpdaterToast.tsx
Due: prettier, eslint

feat: add menu initialization and history navigation functionality
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/ui/menu.rs
  apps/desktop/src-tauri/src/ui/mod.rs
Due: none

feat: add menu item options to reload, force reload, toggle developer tools, and toggle sidebar
  apps/desktop/src-tauri/src/ui/menu.rs
  apps/desktop/src/components/Dashboard.tsx
Due: prettier, eslint

chore: remove open devtools functionality from context menu
  apps/desktop/src-tauri/src/lib.rs
  apps/desktop/src-tauri/src/ui/window.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/types/tauri.gen.ts
Due: prettier, eslint

feat: implement custom hook to disable native context menu
  apps/desktop/src/App.tsx
Due: prettier, eslint
